{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto team_active=True %}
{% endblock %}

{% block title %}
    {{ proyecto.nombre }} | Team | Nuevo Miembro
{% endblock %}

{% block content %}
    <div class="container center-block">
    <form method="post">
    <h4> Agregar integrante al proyecto {{ proyecto.nombre }}</h4>
	{% csrf_token %}
    <div><tr><th><label for="id_usuario">Usuario:</label></th><td>
        <select name="usuario" id="id_usuario" required>
            <option value="" selected>---------</option>
        {% for usuarios in user_list %}
            <option value="{{ usuarios.id }}">{{ usuarios.username }}</option>
        {% endfor %}
        </select>
    </td></tr></div>

    <div><tr><th><label for="id_rol">Rol:</label></th><td>
        <select name="rol" id="id_rol" required>
            <option value="" selected>---------</option>
        {% for rol in rol_list %}
            <option value="{{ rol.id }}">{{ rol.name}}</option>
        {% endfor %}
        </select>
    </td></tr></div>
    <div><tr><th><label for="id_horas_trabajo">Horas trabajo:</label></th><td><input type="number" name="horas_trabajo" value="4" id="id_horas_trabajo" required /></td></tr></div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
                <a class= "btn btn-danger" href="/proyecto/{{ proyecto.id }}/team/">Cancelar</a>
				<button class="btn btn-primary "type="submit">Guardar</button>
			</div>
		</div>
	</div>


</form>

{% endblock %}
