{% extends 'base.html' %}
{% block title %}
   {{ team_member.proyecto.nombre }} | Team | Expulsar: {{ team_member.usuario }}
{% endblock %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=team_member.proyecto team_active=True %}
{% endblock %}
{% block content %}
<form method="post">
	{% csrf_token %}
    <div class="container center-block">
        <p> </p>
        <h3>Confirmacion de expulsion</h3>
	    <h4>&nbsp;¿Desea expulsar al usuario {{object.usuario.username}} del proyecto {{ object.proyecto.nombre }}?</h4>
	    <button class="btn btn-danger" type="submit">Sí, eliminar</button>
        <a class= "btn btn-default" href="/proyecto/{{ object.proyecto_id }}/team/">Cancelar</a>
    </div>
</form>
{% endblock %}
