{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=team_member.proyecto team_active=True %}
{% endblock %}

{% block title %}
    {{ team_member.proyecto.nombre }} | Team | Editar: {{ team_member.usuario }}
{% endblock %}

{% block content %}
<div class="container pt-3 ">
<form method="post">
	{% csrf_token %}
    <h3>Editar atributos de {{ object.usuario.username }} en {{ proyecto.nombre }}</h3>
    <div><tr><th><label for="id_rol">Rol:</label></th><td>
        <select name="rol" id="id_rol" required>
        {% if team_member.rol.name == None %}
            <option value="" selected>---</option>
        {% endif %}
        {% for rol in rol_list %}
            <option value="{{ rol.id }}" {% if rol.id == object.rol_id %}selected{% endif %}>{{ rol.name }}</option>
        {% endfor %}
        </select>
    </td></tr></div>
    <div><tr><th><label for="id_horas_trabajo">Horas trabajo:</label></th><td><input type="number" name="horas_trabajo" value="{{ object.horas_trabajo }}" id="id_horas_trabajo" required /></td></tr></div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
                <a class= "btn btn-danger" href="/proyecto/{{ proyecto.id }}/team/">Cancelar</a>
				<button class="btn btn-primary "type="submit">Guardar</button>
			</div>
		</div>
	</div>
</form>


{% endblock %}
