{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto team_active=True %}
{% endblock %}

{% block title %}
    {{ proyecto.nombre }} | Team
{% endblock %}

{% block content %}
<div class="container">

<table class="table table-bordered">
    <h2>Proyecto {{ proyecto.nombre }}: Team</h2>
    <div><p> </p></div>
    <a class= "btn btn-default" href="/proyecto/{{ proyecto.id }}">Volver al proyecto</a>
    {% if perm_add %}
        <a class="btn btn-success" href="add">Agregar miembro</a>
    {% endif %}

    <div><p> </p></div>
    <thead>
		<tr>
			<td>Usuario</td>
            <td>Rol</td>
            <td>Cantidad de horas de trabajo (diarias/promedio)</td>
		</tr>

</thead>
    <tbody>
        <div></div>

		{% if object_list %}
		    {% for team_member in object_list %}
		    <tr>
			    <td>{{ team_member.usuario.username }}</td>
                {% if team_member.rol.name == None %}
                    <td><u><i>Sin Rol</i></u></td>
                {% else %}
                    <td>{{ team_member.rol.name}}</td>
                {% endif %}
                <td>{{ team_member.horas_trabajo }}</td>
			    <td>
                {% if perm_edit %}
				    <a class="btn btn-primary" href="edit/{{ team_member.id }}">Editar</a>
                {% endif %}
                {% if perm_delete %}
				    <a class="btn btn-danger" href="kick/{{ team_member.id }}">Eliminar</a>
                {% endif %}
			    </td>
		    </tr>
		    {% endfor %}

		{% else %}
		    <h2>No hay registros de Integrantes del Team</h2>
            <div><p> </p></div>
		{% endif %}
</tbody>
</table>
<ul class="pagination">
	<li class="page-item">
		{% if page_obj.has_previous %}
       	 <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	{% endif %}
    </li>
</ul>
</div>

{% endblock %}
