<div class="modal fade" id="horasTrabajadas_{{ us.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<form method="post" action="{% url "proyectos:horas" proyecto.id us.id %}">
  {% csrf_token %}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div>
            <h3 class="modal-title" id="exampleModalLabel"><strong>Cargar horas trabajadas a {{ us.nombre }}</strong></h3>
        </div>
      </div>
      <div class="modal-body">
        <div>
          <tr>
            <th><label>Tiempo estimado del US: </label> {{ us.tiempo_estimado }} horas</th><br>
            <th><label>Tiempo dedicado actualmente: </label> {{ us.tiempo_dedicado }} horas</th><br>
            <th><label for="id_tiempo_dedicado">Horas:</label></th>
            <td><input type="number" name="tiempo_dedicado" id="id_tiempo_dedicado" min="0" required /></td>
          </tr>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <input class="btn btn-primary" type="submit" value="Guardar Cambios" />
      </div>
    </div>
  </div>
</form>
</div>
