<div class="modal fade" id="cambio_estado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<form method="post" action="{% url "proyectos:estado" proyecto.id%}">
  {% csrf_token %}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
           <h3 class="modal-title" id="exampleModalLabel">
              <strong>
                {% if to == "Activo" %}Iniciar Proyecto
                {% elif to == "Finalizado" %}Finalizar Proyecto{% endif %}
              </strong>
           </h3>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Desea modificar el estado a "{{ to }}"?
      </div>
      <input name="estado" value="{{ to }}" hidden />
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <input class="btn btn-primary" type="submit" value="Aceptar" />
      </div>
    </div>
  </div>
</form>
</div>
<div class="modal fade" id="cancelar_proyecto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<form method="post" action="{% url "proyectos:estado" proyecto.id%}">
  {% csrf_token %}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
           <h3 class="modal-title" id="exampleModalLabel">
              <strong>
                  Cancelar Proyecto
              </strong>
           </h3>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Desea modificar el estado a "Proyecto Cancelado"?
      </div>
      <input name="estado" value="Proyecto Cancelado" hidden />
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <input class="btn btn-primary" type="submit" value="Aceptar" />
      </div>
    </div>
  </div>
</form>
</div>
