{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto proyecto_active=True %}
{% endblock %}

{% block title %}
    Proyectos | Detalles: {{ proyecto.nombre }}
{% endblock %}


{% block content %}
    {% load guardian_tags %}
    {% if proyecto %}
        {% get_obj_perms request.user for proyecto as "US_perms" %}
        <div class="container">
        <div class="row">
        <div class="col-sm-5 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url "proyectos:detalle" proyecto.id %}">
                        {% if proyecto.logo %}
                            <img src="{{ proyecto.logo.url }}" class="img-responsive" alt="Logo">
                        {% else %}
                            <h5>No hay imagen para mostrar</h5>
                        {% endif %}
                    </a>
                    <h1>{{ proyecto.nombre }} <br><small>{{ proyecto.estado }}</small></h1>
                    <h2>Creado el {{ proyecto.fecha_creacion.date |date:"d/m/Y" }}</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <meta charset="UTF-8">
            <title>{{ proyecto.nombre }}</title>
            <h1>
                <strong>Detalles de {{ proyecto.nombre }}</strong>&nbsp;
                {% csrf_token %}
                {% get_obj_perms request.user for proyecto as "Tipous_perms" %}
                {% if "view_historial" in Tipous_perms %}
                     {% if proyecto.estado != "Proyecto Cancelado" and proyecto.estado != "Finalizado" %}
                     <a href="historial/" style="display: inline">
                        <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="Historial del Proyecto">
                            <span class="glyphicon glyphicon-time"/>
                        </button>
                    </a>
                         {% endif %}
                {% endif %}
                <a href="{% url "proyectos:editar" proyecto.id %}" style="display: inline" >
                <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="Editar Proyecto">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
                </a>
                <a href="{% url "proyectos:eliminar" proyecto.id %}" style="display: inline">
                    <button type="submit" class="btn btn-danger" data-toggle="tooltip" title="Borrar Proyecto">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </a>
                <p>


                {% if "add_Tus" in Tipous_perms %}
                     {% if proyecto.estado != "Proyecto Cancelado" and proyecto.estado != "Finalizado" %}
                    <a href="tipous/" style="display: inline">
                        <button type="submit" class="btn btn-primary">
                            Tipos de User Story
                        </button>
                    </a>
                         {% endif %}
                {% endif %}
                {% get_obj_perms request.user for proyecto as "backlog_perms" %}
                {% if "ver_tablero" in backlog_perms %}
                     {% if proyecto.estado != "Proyecto Cancelado" and proyecto.estado != "Finalizado" %}
                    <a href="tablero/" style="...">
                        <button type="submit" class="btn btn-primary">
                            Ver tablero
                        </button>
                    </a>
                         {% endif %}
                {% endif %}
                </p>
            </h1><br>

            <strong>Nombre:</strong> {{ proyecto.nombre }}<br>
            <strong>Descripción:</strong> {{ proyecto.descripcion }}<br>
            <strong>Fecha de creación:</strong> {{ proyecto.fecha_creacion |date:"d/m/Y" }}<br>
            <strong>Fecha de inicio del proyecto:</strong> {{ proyecto.fecha_inicio.date | date:"d/m/Y" }}<br>
            <strong>Fecha de finalización del proyecto:</strong> {{ proyecto.fecha_fin.date |date:"d/m/Y" }}<br>
            <strong>Última modificación:</strong> {{ proyecto.ultima_modificacion | date:"d/m/Y H:i" }}<br>
            <strong>Estado del proyecto:</strong> {{ proyecto.estado }}<br>
            {% if proyecto.estado == "En espera de inicio" %}
            <a data-toggle="modal" href="#cambio_estado">
                <button class="btn btn-success">
                    <span class="glyphicon glyphicon-play"></span>
                    Empezar Proyecto
                </button>
            </a>
            {% include "proyectos/cambioestado.html" with proyecto=object to="Activo"%}
            {% endif %}
            {% if proyecto.estado == "Activo" %}
                <a data-toggle="modal" href="#cambio_estado">
                <button class="btn btn-success">
                    <span class="glyphicon glyphicon-stop"></span>
                    Finalizar Proyecto
                </button>
                </a>
                {% include "proyectos/cambioestado.html" with to="Finalizado"%}
            {% endif %}
            {% if proyecto.estado == "En espera de inicio" or  proyecto.estado == "Activo" %}
                <a data-toggle="modal" href="#cancelar_proyecto">
                <button class="btn btn-success">
                    <span class="glyphicon glyphicon-eject"></span>
                    Cancelar Proyecto
                </button>
                </a>
            {% endif %}
            <p></p><br>

        </div>
        </div>
        <div class="row">
            {% if "ver_ProductBacklog" in backlog_perms %}
            <div class="col-sm-4 col-md-4">
                <h2>User Stories
                    <a href="userstory/product_backlog/" style="...">
                        <button class="btn btn-primary">Product Backlog</button>
                    </a>
                </h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td><strong>Nombre</strong></td>
                        <td><strong>Estado</strong></td>
                        <td><strong>Prioridad</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for us in proyecto.userstory_set.all %}
                        <tr>
                            <td>{{ us.nombre }}</td>
                            <td>{{ us.get_estado_display }}</td>
                            <td>{{ us.prioridad_final }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            <div class="col-sm-4 col-md-4">
                <h2>Team  {% if proyecto.estado != "Proyecto Cancelado" and proyecto.estado != "Finalizado" %}<a class="btn btn-primary" href="team/">Ver</a>
                {% endif %}
                    <a class="btn btn-primary" href="reporteHorasTrabajadas/">Ver Reporte</a><br></h2>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td><strong>Nombre</strong></td>
                        <td><strong>Usuario</strong></td>
                        <td><strong>Rol</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for team_member in proyecto.team_member_set.all %}
                        <tr>
                            <td>{{ team_member.usuario.first_name }}</td>
                            <td>{{ team_member.usuario.get_username }}</td>
                            {% if team_member.rol.name == None %}
                                <td><u><i>Sin Rol</i></u></td>
                            {% else %}
                                <td>{{ team_member.rol.name}}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4 col-md-4">

                {% if permiso_view_sprint %}
                    <h2>Sprints {% if proyecto.estado != "Proyecto Cancelado" and proyecto.estado != "Finalizado" %}
                        <a class="btn btn-primary" href="sprint/">Ver</a>
                        <a class="btn btn-primary" href="desempenho/">Trabajo Realizado</a>{% endif %}
                    </h2>

                <br>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <td><strong>Fecha de Inicio</strong></td>
                        <td><strong>Fecha de Fin</strong></td>
                        <td><strong>Estado</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sprint in proyecto.sprint_set.all %}
                        <tr>
                            {% if sprint.fechaInicio == None %}
                                <td><u><i>No definida</i></u></td>
                            {% else %}
                                <td>{{sprint.fechaInicio | date:"d/m/Y"}}</td>
                            {% endif %}
                            {% if sprint.fechaFinalizacion == None %}
                                <td><u><i>No definida</i></u></td>
                            {% else %}
                                <td>{{sprint.fechaFinalizacion | date:"d/m/Y"}}</td>
                            {% endif %}
                            <td> {{ sprint.estado }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}

            </div>

            </div>
        </div>
        {% else %}
            <h1>No existe el proyecto especificado</h1>
        {% endif %}
</div>

{% endblock %}