{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html"  %}
{% endblock %}

{% block title %}
    Logs del Proyecto
{% endblock %}

{% block content %}

    <div class="container center-block">
        <div class="container-fluid">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1>
                    <p class="text-center">Proyecto {{ proyecto.nombre }}: Historial</p>
                </h1>
            </div>
            <div class="panel-body">
                <p></p>
                <a class= "btn btn-default" href="/proyecto/{{ proyecto.id }}">Volver al proyecto</a>

                <table class="table table-bordered">
                    <div><p> </p></div>
                    <thead>
                        <tr>
                            <td><b><center>Hora</center></b></td>
                            <td><b><center>Clase</center></b></td>
                            <td><b><center>Nombre</center></b></td>
                            <td><b><center>Mensaje</center></b></td>
                            <td><b><center>Nombre del miembro</center></b></td>
                            <td><b><center>Rol</center></b></td>

                        </tr>
                    </thead>
                    <tbody>
                        <div></div>
                        {% if object_list %}
                            {% for auditoria in object_list %}
                                <tr>
                                    <td>{{ auditoria.action_time | date:"d/m/Y H:i" }}</td>
                                    <td>{{ auditoria.content_type }}</td>
                                    <td>{{ auditoria.object_repr }}</td>
                                    <td>{{ auditoria.change_message }}</td>
                                    {% for team_member in auditoria.proyecto.team_member_set.all %}
                                        {% if team_member.usuario.id == auditoria.user_id %}

                                            <td>{{ team_member.usuario.get_username }}</td>
                                            {% if team_member.rol.name == None %}
                                                <td><u><i>Sin Rol</i></u></td>
                                            {% else %}
                                                <td>{{ team_member.rol.name}}</td>
                                            {% endif %}
                                         {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% else %}
                            <h2>No hay registros de historial</h2>
                            <div><p> </p></div>
                        {% endif %}
                    </tbody>
                </table>
                <ul class="pagination">
                    <li class="page-item">
                        {% if page_obj.has_previous %}
                         <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if page_obj.has_next %}
                         <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
{% endblock %}