{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_sistema.html" with proyectos_active=True %}
{% endblock %}

<!-- BOTÓN ACTIVO -->
{% block proyectos_active %}
    active
{% endblock %}

{% block title %}
    Proyectos | Nuevo Proyecto
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1>
                    <p class="text-center">Nuevo proyecto</p>
                </h1>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include "field_form.html" %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <p class="text-center">
                                <button type="submit" class="boton_alta">
                                    Crear proyecto
                                </button>&nbsp;
                                <button onclick="window.history.back();" class="boton_cancelar">
                                    Cancelar
                                </button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}