{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto %}
{% endblock %}

{% block proyectos_active %}
    active
{% endblock %}

{% block title %}
    Proyectos | Eliminar: {{ proyecto.nombre }}
{% endblock %}

{% block content %}
    <form action="" method="post">
        <div class="container">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h1>
                        <p class="text-center">¿Está seguro que desea eliminar el proyecto {{ proyecto.nombre }}?</p>
                    </h1>
                </div>
                <div class="panel-body">
                    <p class="text-center">
                        <input class="boton_eliminar" type="submit" value="Eliminar" style='width:125px; height:50px'/>&nbsp;
                        {% csrf_token %}
                        <button onclick="window.history.back();" class="boton_cancelar" type="button" style='width:125px; height:50px'>
                            Cancelar
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </form>
{% endblock %}