{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto %}
{% endblock %}

{% block proyectos_active %}
    active
{% endblock %}

{% block title %}
    Proyectos | Editar: {{ proyecto.nombre }}
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1>
                    <p class="text-center">Editar proyecto: {{ proyecto.nombre }}</p>
                </h1>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include "field_form.html" %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <p class="text-center">
                                <input class="boton_editar" type="submit" value="Guardar" style='width:125px; height:50px'/>&nbsp;
                                <button onclick="window.history.back();" class="boton_cancelar" type="button" style='width:125px; height:50px'>
                                    Cancelar
                                </button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}