{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto %}
{% endblock %}

{% block title %}
    Tablero | {{ proyecto.nombre }}
{% endblock %}

{% block content %}
    {% load guardian_tags %}
    {% get_obj_perms request.user for proyecto as "US_perms" %}
    <div class="container-fluid">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1>
                    <p class="text-center">Tableros del proyecto: {{ proyecto.nombre }}</p>
                </h1>
            </div>
            <div class="panel-body">
                <p></p>
                <a class= "btn btn-default" href="/proyecto/{{ proyecto.id }}">Volver al proyecto</a>
                {% if us_list %}
                    <style>
                        form{
                            display: inline;
                        }
                    </style>
                    {% for tus in tus_list %}
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <caption><center>Tipo de US: {{ tus.nombre }}</center></caption>
                                <tr>
                                {% for f in tus.fase_set.all %}
                                    <th style="width: 300px; height: 35px" colspan="3"><b><center>{{ f.nombre }}</center></b></th>                                        </th>
                                {% endfor %}
                                </tr>
                                <tr>
                                {% for i in tus.fase_set.all %}
                                    <th style="width: 100px; height: 35px"><b><center>To do</center></b></th>
                                    <th style="width: 100px; height: 35px"><b><center>Doing</center></b></th>
                                    <th style="width: 100px; height: 35px"><b><center>Done</center></b></th>
                                {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for us in us_list %}
                                    {% if us.tipo_us == tus %}
                                        <tr>
                                        {% for f in tus.fase_set.all %}
                                            {% if us.fase_actual_id == f.id %}
                                                {% if us.get_subfase_display == 'To do' %}
                                                    <td><center>{{ us.nombre }} | {{ us.prioridad_final }}<br>
                                                        {% for sprint in us.sprint_set.all %}
                                                            {% if sprint.estado == "En ejecución" and request.user.id == us.team_member.usuario.id %}
                                                                {% if forloop.parentloop.counter > 1 %}
                                                                    <form method="post" action={% url "proyectos:cambiar_fase" proyecto.id us.id%}>
                                                                        {% csrf_token %}
                                                                        <input hidden name="fase_actual" value="{{ us.fase_actual_id}}"/>
                                                                        <input hidden name="subfase" value="0" />
                                                                        <input hidden name="accion" value="izquierda"/>
                                                                        <button class="glyphicon glyphicon-arrow-left" type="submit" style="display: inline;"></button>
                                                                    </form>
                                                                {% endif %}
                                                                <form method="post" action={% url "proyectos:cambiar_fase" proyecto.id us.id%}>
                                                                    {% csrf_token %}
                                                                    <input hidden name="fase_actual" value="{{ us.fase_actual_id }}"/>
                                                                    <input hidden name="subfase" value="0" />
                                                                    <input hidden name="accion" value="derecha"/>
                                                                    <button class="glyphicon glyphicon-arrow-right" type="submit" style="display: inline;"></button>
                                                                </form>
                                                                <p>
                                                                    <a data-toggle="modal" href="#agregarComentario_{{ us.id }}">
                                                                        <button type="submit" class="glyphicon glyphicon-comment" title="Agregar comentario"></button>
                                                                    </a>
                                                                    <a data-toggle="modal" href="#horasTrabajadas_{{ us.id }}">
                                                                        <button type="submit" class="glyphicon glyphicon-time" title="Cargar horas trabajadas"></button>
                                                                    </a>
                                                                </p>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </center></td>
                                                {% else %}
                                                    <td> </td>
                                                {% endif %}
                                                {% if us.get_subfase_display == 'Doing' %}
                                                    <td><center>{{ us.nombre }} | {{ us.prioridad_final }}<br>
                                                        {% for sprint in us.sprint_set.all %}
                                                            {% if sprint.estado == "En ejecución" and request.user.id == us.team_member.usuario.id %}
                                                                <form method="post" action={% url "proyectos:cambiar_fase" proyecto.id us.id%}>
                                                                    {% csrf_token %}
                                                                    <input hidden name="fase_actual" value="{{ us.fase_actual_id }}"/>
                                                                    <input hidden name="subfase" value="1" />
                                                                    <input hidden name="accion" value="izquierda"/>
                                                                    <button class="glyphicon glyphicon-arrow-left" type="submit" style="display: inline;"></button>
                                                                </form>
                                                                <form method="post" action={% url "proyectos:cambiar_fase" proyecto.id us.id%}>
                                                                    {% csrf_token %}
                                                                    <input hidden name="fase_actual" value="{{ us.fase_actual_id }}"/>
                                                                    <input hidden name="subfase" value="1" />
                                                                    <input hidden name="accion" value="derecha"/>
                                                                    <button class="glyphicon glyphicon-arrow-right" type="submit" style="display: inline;"></button>
                                                                </form>
                                                                <p>
                                                                    <a data-toggle="modal" href="#agregarComentario_{{ us.id }}">
                                                                        <button type="submit" class="glyphicon glyphicon-comment" title="Agregar comentario"></button>
                                                                    </a>
                                                                    <a data-toggle="modal" href="#horasTrabajadas_{{ us.id }}">
                                                                        <button type="submit" class="glyphicon glyphicon-time" title="Cargar horas trabajadas"></button>
                                                                    </a>
                                                                </p>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </center></td>
                                                {% else %}
                                                    <td> </td>
                                                {% endif %}
                                                {% if us.get_subfase_display == 'Done' %}
                                                    <td><center>{{ us.nombre }} | {{ us.prioridad_final }}<br>
                                                    {% for sprint in us.sprint_set.all %}
                                                        {% if sprint.estado == "En ejecución" and request.user.id == us.team_member.usuario.id %}
                                                            {% if forloop.parentloop.revcounter > 1 %}
                                                                <form method="post" action={% url "proyectos:cambiar_fase" proyecto.id us.id %}>
                                                                    {% csrf_token %}
                                                                    <input hidden name="fase_actual" value="{{ us.fase_actual_id}}"/>
                                                                    <input hidden name="subfase" value="2" />
                                                                    <input hidden name="accion" value="izquierda"/>
                                                                    <button class="glyphicon glyphicon-arrow-left" type="submit" style="display: inline;"></button>
                                                                </form>
                                                                <form method="post" action={% url "proyectos:cambiar_fase" proyecto.id us.id%}>
                                                                    {% csrf_token %}
                                                                    <input hidden name="fase_actual" value="{{ us.fase_actual_id }}"/>
                                                                    <input hidden name="subfase" value="2" />
                                                                    <input hidden name="accion" value="derecha"/>
                                                                    <button class="glyphicon glyphicon-arrow-right" type="submit" style="display: inline;"></button>
                                                                </form>
                                                                <p>
                                                                    <a data-toggle="modal" href="#agregarComentario_{{ us.id }}">
                                                                        <button type="submit" class="glyphicon glyphicon-comment" title="Agregar comentario"></button>
                                                                    </a>
                                                                    <a data-toggle="modal" href="#horasTrabajadas_{{ us.id }}">
                                                                        <button type="submit" class="glyphicon glyphicon-time" title="Cargar horas trabajadas"></button>
                                                                    </a>
                                                                </p>
                                                            {% else %}
                                                                <i class="glyphicon glyphicon-warning-sign"></i>&nbsp;Control de Calidad
                                                            {% endif %}
                                                        {% elif sprint.estado == "En ejecución" and forloop.parentloop.revcounter == 1 %}
                                                            <i class="glyphicon glyphicon-warning-sign"></i>&nbsp;Control de Calidad
                                                        {% endif %}
                                                    {% endfor %}
                                                    </center></td>
                                                {% else %}
                                                    <td> </td>
                                                {% endif %}
                                                <p></p>
                                            {% else %}
                                                <td> </td>
                                                <td> </td>
                                                <td> </td>
                                            {% endif %}
                                        {% endfor %}
                                        </tr>
                                    <p></p>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% for us in us_list %}
                        {% include "comentario/agregar_comentario.html" with us=us %}
                        {% include "proyectos/actualizar_horas.html" with us=us %}
                    {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <h2>No hay registro de US en ejecución</h2>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}