{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_sistema.html" with rol_active=True%}
{% endblock %}

{% block title %}
    Roles | Detalles: {{ object.name }}
{% endblock %}

{% block content %}
    <div class="container pt-5 ">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label><b>Nombre del rol: </b>{{ object.name }}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label ><b>Permisos: </b>
                        <div class="pre-scrollable">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td><center>Id</center></td>
                                    <td><center>Permiso</center></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in object.permissions.all %}
                                    <tr>
                                        <td>{{ x.id }}</td>
                                        <td>{{ x.name }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>
                        <!--<p>{{ object.permissions.all }}</p>-->
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <a class= "btn btn-default" href="{% url 'roles:listar' %}">Atrás</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
