{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_sistema.html" with rol_active=True%}
{% endblock %}

{% block title %}
    Roles | Editar: {{ object.name }}
{% endblock %}

{% block content %}
    <div class="container pt-3 ">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Guardar Cambios</button>
            <a class= "btn btn-default" href="{% url 'roles:listar' %}">Cancelar</a>
        </form>
    </div>

{% endblock %}
