{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_sistema.html" with rol_active=True%}
{% endblock %}

{% block title %}
    Roles | Eliminar: {{ object.name }}
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
    <div class="container center-block">
	    <h5>¿Desea eliminar el rol {{ object.name }}?</h5>
	    <button class="btn btn-danger" type="submit">Sí, eliminar</button>
	    <a class= "btn btn-default" href="{% url 'roles:listar' %}">Cancelar</a>
    </div>
</form>
{% endblock %}

