{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_sistema.html" with rol_active=True%}
{% endblock %}

<!-- BOTÓN ACTIVO -->
{% block roles_active %}
    active
{% endblock %}

{% block title %}
    Roles | Lista de Roles
{% endblock %}

{% block content %}
    {% if nombre_no_disponible%}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-alert"> </span>
                    El nombre de Rol no está disponible
                </div>
            </div>
        </div>
    {% endif %}
    <h3><center> Lista de Roles </center></h3>
    <div class="container pt-3 ">
        <table class="table table-bordered">
            <p align="right"><a class="btn btn-primary" href="{% url 'roles:crear' %}">Añadir rol</a></p>
        <thead>
            <tr>
                <td><center><b>Nro</b></center></td>
                <td><center><b>Nombre del Rol</b></center></td>
            </tr>
        </thead>
        <tbody>
            {% if object_list %}
                <h6><b>Roles de Sistema</b></h6>
                {% for group in object_list|dictsort:"id" %}
                    {% if  group.name == "Administrador" or group.name == "Usuario Normal" %}
                        <tr>
                            <td>{{ group.id }}</td>
                            <td>{{ group.name}}</td>
                            <td align="center">
                                {% if perms.auth.change_group %}<a class="btn btn-primary" href="{% url 'roles:modificar' group.id %}" >Editar</a>{% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h1>No hay registros de roles</h1>
            {% endif %}
        </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
            <tr>
                <td><center><b>Nro</b></center></td>
                <td><center><b>Nombre del Rol</b></center></td>
            </tr>
            </thead>
            <tbody>
            {% if object_list %}
                <h6><b>Roles de Team</b></h6>
                {% for group in object_list|dictsort:"id" %}
                    {% if  group.name != "Administrador" and group.name != "Usuario Normal" %}
                        <tr>
                            <td>{{ group.id }}</td>
                            <td>{{ group.name}}</td>
                            <td align="center">
                                <a class="btn btn-info" href="{% url 'roles:ver' group.id %}">Ver</a>
                                {% if perms.auth.change_group %}<a class="btn btn-primary" href="{% url 'roles:modificar' group.id %}">Editar</a>{% endif %}
                                {% if perms.auth.delete_group %}<a class="btn btn-danger" href="{% url 'roles:eliminar' group.id %}">Eliminar</a>{% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h1>No hay registros de roles</h1>
            {% endif %}
            </tbody>
        </table>
        <ul class="pagination">
            <li class="page-item">
                {% if page_obj.has_previous %}
                    <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
            </li>
            <li>
                {% if page_obj.has_next %}
                    <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
            </li>
        </ul>

    </div>
{% endblock %}
<a class="btn btn-primary" href="{% url 'roles:ver' group.id %}">Ver</a>

