{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_sistema.html" with rol_active=True%}
{% endblock %}

{% block title %}
    Roles | {% if object %}Editar rol{% else %}Nuevo Rol{% endif %}
{% endblock %}

{% block content %}
    <div class="container center-block pt-3">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Nombre del Rol:</label>
                        <input class="form-control" type="text" name="name" value="{{ object.name }}" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label>Permisos:</label>
                        <div class="pre-scrollable">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <td>#</td>
                                <td>Permiso</td>
                            </thead>
                            <tbody>
                            {% for perm in lista_permisos|dictsort:"id" %}
                                <tr>
                                    <td>
                                        <input type="checkbox" name="permissions" value="{{ perm.id }}"
                                            {% if perm in object.permissions.all %}checked{% endif %} onclick="ver(1)"/>
                                    </td>
                                    <td>
                                        {{ perm.name }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <button onclick="ver(0)" class="btn btn-primary" type="submit">Guardar</button>
                        <a class= "btn btn-default" href="{% url 'roles:listar' %}">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        function ver(cant) {
            var i;
            var mensaje = "";
            var boxes = $("input[name=permissions]:checked");
            var all_boxes = $("input[name=permissions]");
            if (cant == 0){
                mensaje = "Seleccione al menos un Permiso para el Rol"
            }
            console.log(cant)
            if (boxes.length == cant ){
                for (i=0;i<all_boxes.length;i++){
                    all_boxes[i].setCustomValidity(mensaje);
                }
            }
        }
    </script>
{% endblock %}
