{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_sistema.html" with user_active=True%}
{% endblock %}

{% block title %}
    Usuarios | Lista de Usuarios
{% endblock %}

{% block content %}
    <div class="container pt-3 ">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>No. Usuario</td>
                    <td>Nombre de Usuario</td>
                </tr>
            </thead>
            <tbody>
                {% if object_list %}
                    {% for usuario in object_list|dictsort:"id" %}
                        <tr>
                            <td>{{ usuario.id }}</td>
                            <td>{{ usuario.username}}</td>
                            <td>
                                <a class="btn btn-primary" href="{% url 'usuarios:ver' usuario.id %}">Ver</a>
                                <a class="btn btn-primary" href="{% url 'usuarios:editar' usuario.id %}">Editar</a>
                                <a class="btn btn-danger" href="{% url 'usuarios:eliminar' usuario.id %}">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <h1>No hay registros de usuarios</h1>
                {% endif %}
            </tbody>
        </table>
        <ul class="pagination">
            <li class="page-item">
                {% if page_obj.has_previous %}
                 <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                </li>
            <li>
                {% if page_obj.has_next %}
                 <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock %}



