{% extends 'base.html' %}

{% block title %}
    SGP | Login
{% endblock %}

{% block navbar%}{% endblock %}

{% block content %}
<div class="container center-block pt-5 ">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">SGP</h1>
    <p class="lead">Sistema de Gestión de Proyectos</p>
  </div>
</div>
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
    {% if mensaje %}
        <div class="alert alert-primary" role="alert">{{ mensaje }}<a href="#" class="alert-link"></a>.</div>
    {% endif %}


    <div class="row">
    	<div class="col-md-12 col-md-offset-2">
    		<div class="form-group ">
                <a  class ="float-right" href="{% url 'password_reset' %}">Olvidé mi contraseña</a>
        		<button class="btn btn-primary " type="submit">Ingresar</button>
    	   </div>
        </div>
    </div>

</form>
</div>


{% endblock %}