{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_sistema.html" with user_active=True%}
{% endblock %}

{% block title %}
    Usuarios | Nuevo Usuario
{% endblock %}

{% block content %}
   <div class="container center-block pt-3">
    <form method="post">
	{% csrf_token %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Nombre</label>
				<input class="form-control" type="text" name="first_name">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Apellidos</label>
				<input class="form-control" type="text" name="last_name">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Nombre de usuario</label>
				<input class="form-control" type="text" name="username">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Correo</label>
				<input class="form-control" type="text" name="email">
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Grupos</label>
				{{ form.groups }}
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<button class="btn btn-primary "type="submit">Guardar</button>
			</div>
		</div>
	</div>
</form>

{% endblock %}