{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_sistema.html" with user_active=True%}
{% endblock %}

{% block title %}
    Usuarios | Editar: {{ user.get_username }}
{% endblock %}

{% block content %}
<div class="container pt-3 ">
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}

	<button type="submit">Guardar</button>
</form>


{% endblock %}