{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_sistema.html" with user_active=True%}
{% endblock %}

{% block title %}
    Usuarios | Detalles: {{ object.username }}
{% endblock %}

{% block content %}
<div class="container pt-5 ">
   <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Nombre de Usuario:      {{ object.username }}</label>
			</div>
		</div>
	</div>
    <hr />
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Nombre:     {{ object.first_name }}</label>
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Apellido:       {{ object.last_name }}</label>
			</div>
		</div>
	</div>
    <hr />
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Email:      {{ object.email}}</label>
			</div>
		</div>
	</div>
    <hr />
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Ultima Conexion:        {{ object.last_login }}</label>
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Fecha de creacion:      {{ object.date_joined }}</label>
			</div>
		</div>
	</div>
    <hr />
     <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Activo:     {{ object.is_active }}</label>
			</div>
		</div>
	</div>
    <hr />
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label >Roles:      {{ object.groups.get }}</label>
			</div>
		</div>
	</div>


         </div>
    </div>
</div>

{% endblock %}