{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_sistema.html" with user_active=True%}
{% endblock %}

{% block title %}
    Usuarios | Eliminar: {{ user.get_username }}
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
    <div class="container center-block">
	    <h3>¿Desea eliminar el usuario {{ object.username}}?</h3>
	    <button class="btn btn-danger" type="submit">Sí, eliminar</button>
	    <a class= "btn btn-default" href="{% url 'usuarios:listar' %}">Cancelar</a>
    </div>
</form>
{% endblock %}