{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=sprint.proyecto sprint_active=True %}
{% endblock %}

{% block title %}
    Sprints | Eliminar
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
    <div class="container center-block">
        <p> </p>
        <h3>Confirmacion</h3>
	    <h4>&nbsp;¿Desea borrar el Sprint?</h4>
        <h5> Junto al Sprint, se borrán todas los resumenes de reuniones, no asi los User Stories</h5>
	    <button class="btn btn-danger" type="submit">Sí, eliminar</button>
        <a class= "btn btn-default" href="/proyecto/{{ object.proyecto_id }}/sprint/">Cancelar</a>
    </div>
</form>
{% endblock %}
