{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=sprint.proyecto sprint_active=True %}
{% endblock %}

{% block title %}
    Sprint | Burndown Chart
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a class= "btn btn-default" onclick=window.history.back()>Volver al Sprint</a>
                    <h4>Burndown Chart desde el {{ inicio_grafico }} hasta el {{ fin_grafico }}
                        <a class="btn btn-success" id="descargar" onclick="descargar()" >
                            <span class="glyphicon glyphicon-download-alt"/>
                        </a>
                    </h4>
                    <!--img src="/media/bc{{ sprint.id }}.png" class="img-responsive" alt="BurndownChart"-->

                    <canvas id="myChart" ></canvas>
<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var mixedChart = new Chart(ctx, {
        type: 'bar',
        data: {
            datasets: [{
                label: 'Trabajo pendiente estimado al finalizar el dia',
                data: [{% for y in eje_y %}{% if forloop.counter > 1%},{% endif %}'{{ y }}'{% endfor %}],
                backgroundColor: 'rgba(37, 199, 232, 0.5)'
            }, {
                label: 'Desempeño planificado',
                data:  [{% for y in eje_y_2 %}{% if forloop.counter > 1%},{% endif %}'{{ y }}'{% endfor %}],
                type: 'line',
                fill: false,
                borderColor: 'rgb(224, 11, 203)'
            }, {
                label: 'Desempeño estimado',
                data:  [{% for y in eje_y_3 %}{% if forloop.counter > 1%},{% endif %}'{{ y }}'{% endfor %}],
                type: 'line',
                fill: false,
                borderColor: 'rgb(224, 122, 23)',
                cubicInterpolationMode: 'monotone'
            }],
            labels: [{% for x in eje_x %}{% if forloop.counter > 1%},{% endif %}'{{ x }}'{% endfor %}]
        } ,
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }],
                xAxes: [{
                    barPercentage : 0.5
                }]
            }
        }
    });
    function descargar() {
        var tag = document.getElementById("descargar")
        tag.download="BurnDownChart {{ proyecto.nombre }} {{ inicio_grafico }} - {{ fin_grafico }}"
        tag.href=mixedChart.toBase64Image()
    }
</script>
                </div>
            </div>
        </div>
    </div>

{% endblock %}