{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto sprint_active=True %}
{% endblock %}

<!-- BOTÓN ACTIVO -->
{% block sprint_active %}
    active
{% endblock %}



{% block title %}
    Sprints | Editar: {{ sprint.id }}
{% endblock %}

{% block content %}
<div class="container pt-3 ">
    <form method="post">
        <a class= "btn btn-default" href="/proyecto/{{ proyecto.id }}/sprint/{{ sprint.id }}"%}>Volver al Sprint</a>
        {% csrf_token %}
    <h3>Editar atributos del User Story </h3>
    <div>
            <label> Estado: </label>
            {{ form.estado }}
        </div>
    <div>
            <label> Subfase: </label>
           {{ form.subfase }}
    </div>

     <div><tr><th><label for="id_fase">Fase Actual:</label></th><td>
        <select name="fase_actual" id="id_fase" required>
        {% for fase in fase_list %}
            <option value="{{ fase.id }}" {% if fase.id == object.fase_actual.id %}selected{% endif %}>{{ fase.nombre }}</option>
        {% endfor %}
        </select>
    </td></tr></div>
    <button type="submit">Guardar</button>
</form>
</div>


{% endblock %}