{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto sprint_active=True %}
{% endblock %}



<!-- BOTÓN ACTIVO -->
{% block sprint_active %}
    active
{% endblock %}



{% block title %}
    Sprints | Control de calidad
{% endblock %}



{% block content %}
<div class="container">

<table class="table table-bordered">
    <h2>Proyecto {{ proyecto.nombre }}: Control de Calidad  Sprint {{ sprint }} </h2>
    <div><p> </p></div>
    <a class= "btn btn-default" href="/proyecto/{{ proyecto.id }}/sprint/{{ sprint.id }}">Volver al Sprint </a>


    <div><p> </p></div>
    <thead>
		<tr>
			<td>Nombre del US</td>
            <td>Estado del US</td>
            <td>Fase</td>
            <td>Subfase</td>
            <td></td>
		</tr>

</thead>
    <tbody>
        <div></div>
    {% if lista %}
		    {% for us in lista %}
		    <tr>

                <td>{{us.nombre}}</td>
                <td>{{us.get_estado_display}}</td>
                <td>{{us.fase_actual}}</td>
                <td>{{us.get_subfase_display}}</td>
			    <td>
                    <a class="btn btn-info"    href="/proyecto/{{ proyecto.id }}/sprint/{{ sprint.id }}/control/{{ us.id }}">Cambios</a>
                </td>
		    </tr>
		    {% endfor %}

		{% else %}
		    <h2>No hay registros de Sprints</h2>
            <div><p> </p></div>
		{% endif %}
</tbody>
</table>
<ul class="pagination">
	<li class="page-item">
		{% if page_obj.has_previous %}
       	 <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	{% endif %}
    </li>
</ul>
</div>

{% endblock %}