{% extends 'base.html' %}
{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto sprint_active=True %}
{% endblock %}
{% block title %}{{ proyecto.nombre }}| Sprints | Importar{% endblock %}

{% block content %}
<div class="container">

<table class="table table-bordered">
    <h2>Proyecto {{ proyecto.nombre }}: Importar Sprints  </h2>
    <div><p> </p></div>
    <a class= "btn btn-default" href={% url "proyectos:sprint:list" proyecto.id %}>Volver a la lista de Sprints</a>
    <div><p> </p></div>
    <thead>
		<tr>
			<td>Proyecto</td>
            <td>Estado</td>
            <td>Cantidad de US</td>
            <td></td>
		</tr>

</thead>
    <tbody>
        <div></div>
		{% if object_list %}
		    {% for sprint in object_list|dictsort:"proyecto_id" %}
		    <tr>
                <td>{{sprint.proyecto.nombre }}</td>
                <td>{{sprint.estado}}</td>
                <td>
                    {{sprint.sprintBacklog.count }}
                </td>
			    <td>
                    <a class="btn btn-info"    href="{{ sprint.id }}">Ver</a>
                    <a data-toggle="modal" href="#confirmar_{{sprint.id}}">
                        <button type="submit" class="btn btn-warning">
                            <span>Importar</span>
                        </button>
                    </a>
                </td>
            </tr>
		    {% endfor %}
		{% else %}
		    <h2>No hay registros de Sprints para la importacion</h2>
            <div><p> </p></div>
		{% endif %}
</tbody>
</table>
<ul class="pagination">
	<li class="page-item">
		{% if page_obj.has_previous %}
       	 <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	{% endif %}
    </li>
</ul>
</div>
{% for sprint in object_list %}
<div class="modal fade" id="confirmar_{{sprint.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<form method="post" action="{% url "proyectos:sprint:importar_sprint" proyecto.id sprint.id%}">
  {% csrf_token %}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
            <h3 class="modal-title"><strong>Confirmación</strong></h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      </div>
      <div class="modal-body">
        <tr>¿Desea Importar el Sprint seleccionado?</tr>
        <div>
          <tr>
            <th>Con el, se importaran todos los User Storys y las reuniones retrospectivas</th>
          </tr>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <input class="btn btn-warning" type="submit" value="Importar" />
      </div>
    </div>
  </div>
</form>
</div>
{% endfor %}

{% endblock %}
