{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto sprint_active=True %}
{% endblock %}

{% block title %}
    Sprints | Lista de Sprints
{% endblock %}



{% block content %}
<div class="container">

<table class="table table-bordered">
    <h2>Proyecto {{ proyecto.nombre }}: Sprints </h2>
    <div><p> </p></div>
    <a class= "btn btn-default" href="/proyecto/{{ proyecto.id }}">Volver al proyecto</a>
    {% if perm_add %}<a class="btn btn-success" href="add">Agregar Sprint</a> {% endif %}
    {% if perm_import %}<a class="btn btn-warning" href="importar">Importar Sprint</a>{% endif %}
    <div><p> </p></div>
    <thead>
		<tr>
			<td>Fecha de Inicio (Dia/Mes/Año)</td>
            <td>Fecha de Fin (Dia/Mes/Año)</td>
            <td>Duración (en días)</td>
            <td>Estado</td>
            <td>Cantidad de US</td>
            <td></td>
		</tr>
    </thead>
    <tbody>
        <div></div>
		{% if object_list %}
		    {% for sprint in object_list %}
		    <tr>
                {% if sprint.fechaInicio == None %}
                    <td><u><i>No definida</i></u></td>
                {% else %}
                    <td>{{sprint.fechaInicio|date:"d/m/Y"}}</td>
                {% endif %}
                {% if sprint.fechaFinalizacion == None %}
                    <td><u><i>No definida</i></u></td>
                {% else %}
                    <td>{{sprint.fechaFinalizacion|date:"d/m/Y"}}</td>
                {% endif %}
                <td>{{ sprint.duracion}}</td>
                <td>{{ sprint.estado}}</td>
                <td>
                    {{sprint.sprintBacklog.count}}
                </td>
			    <td>
                    <a class="btn btn-info"    href="{{ sprint.id }}">Ver</a>
                {% if perm_edit and sprint.estado == "En espera"%}
				    <a class="btn btn-primary" href="{{ sprint.id }}/editar">Editar</a>
                {% endif %}
                {% if perm_delete and sprint.estado != "En ejecución" %}
				    <a class="btn btn-danger"  href="{{ sprint.id }}/borrar">Eliminar</a>
                {% endif %}
			    </td>
		    </tr>
		    {% endfor %}

		{% else %}
		    <h2>No hay registros de Sprints</h2>
            <div><p> </p></div>
		{% endif %}
</tbody>
</table>
<ul class="pagination">
	<li class="page-item">
		{% if page_obj.has_previous %}
       	 <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	{% endif %}
    </li>
</ul>
</div>

{% endblock %}
