<div class="modal fade" id="agregarResumen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<form method="post" action="{% url "proyectos:sprint:agregar_resumen" sprint.proyecto.id sprint.id %}">
  {% csrf_token %}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
            <h3 class="modal-title" id="exampleModalLabel"><strong>Nuevo registro de Reunion</strong></h3>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div>
          <tr>
            <th><label for="id_titulo">Titulo:</label></th>
            <td><input type="text" name="titulo" id="id_titulo " required /></td>
          </tr>
        </div>
        <div>
          <tr>
            <th><label for="id_fecha">Fecha Realizada:</label></th>
            <td><input type="date" name="fecha" id="id_fecha" required /></td>
          </tr>
        </div>
      </div>
      <div class="modal-body">
        <tr>
            <th><label for="id_resumen">Resumen:</label></th>
            <td><input type="text" name="resumen" id="id_resumen" required /></td>
        </tr>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <input class="btn btn-primary" type="submit" value="Guardar" />
      </div>
    </div>
  </div>
</form>
</div>
