<div class="modal fade" id="borrarResumen_{{reunion.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<form method="post" action="{% url "proyectos:sprint:borrar_resumen" reunion.sprint.proyecto.id reunion.sprint.id reunion.id %}">
  {% csrf_token %}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
            <h3 class="modal-title"><strong>Confirmación</strong></h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      </div>
      <div class="modal-body">
        <tr>¿Desea borrar el Resumen de la Reunion?</tr>
        <div>
          <tr>
            <th><strong>Titulo:</strong>{{ reunion.titulo }}</th>
          </tr>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <input class="btn btn-danger" type="submit" value="Borrar" />
      </div>
    </div>
  </div>
</form>
</div>