<div class="modal fade" id="verResumen_{{reunion.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div>
          <h3 class="modal-title" id="exampleModalLabel"><strong>Reunion Retrospectiva</strong></h3>
        </div>
        <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong>Titulo:</strong> {{reunion.titulo }}</h5>
        </div>
        <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong>Fecha realizada:</strong> {{reunion.fecha|date:"d/m/y" }} (Dia/Mes/Año)</h5>
        </div>
      </div>
      <div class="modal-body">
        <strong>Resumen: </strong>{{reunion.resumen }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>