{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto us_active=True %}
{% endblock %}

{% block title %}
    User Stories | Nuevo User Story
{% endblock %}

{% block content %}
 <div class="container-fluid">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1>
                    <p class="text-center">Nuevo User Story</p>
                </h1>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <label>Nombre:</label>
                                {{ form.nombre }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                                <div class="form-group"><label>Descripción corta:</label>
                                    {{ form.descripcion_corta }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>Descripción larga:</label>
                                    {{ form.descripcion_larga }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <div><tr><th><label for="id_tus">Tipo US:</label></th><td>

                                        <select name="tipo_us" id="id_tus" required>
                                        {% for tus in tus_list %}
                                            <option value="{{ tus.id }}">{{ tus.nombre }}</option>
                                        {% endfor %}
                                        </select>
                                        {% if tus_list %}
                                        {%  else  %}
                                            <td style="color:#FF0000";><i>No se encontraron Tipos de User Story</i></td>
                                        {% endif %}
                                    </td></tr></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>Prioridad:</label>
                                    {{ form.prioridad }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>Valor de negocio:</label>
                                    {{ form.valor_negocio }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>Valor técnico:</label>
                                    {{ form.valor_tecnico }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>Archivo:</label>
                                    {{ form.archivo_adjunto }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>Tiempo estimado:</label>
                                    {{ form.tiempo_estimado }}
                                    <label>(horas)</label>
                                </div>
                            </div>
                        </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <p class="text-center">
                                <button type="submit" class="boton_alta">
                                    Crear User Story
                                </button>&nbsp;
                                <button onclick="window.history.back();" class="boton_cancelar">
                                    Cancelar
                                </button>
                            </p>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
{% endblock %}
