{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto us_active=True %}
{% endblock %}

{% block title %}
    User Stories | Detalles: {{ userstory.nombre }}
{% endblock %}

{% block content %}
    <div class="container center-block">
        <div class="container-fluid">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1>
                    <p class="text-center">Detalles de {{ object.nombre }}</p>
                    <a class="boton_editar" href="{% url "proyectos:userstory:historial" object.proyecto.id object.id %}" type="button" style="display: inline">
                        Historial
                    </a>
                    <p align="right">
                        <a class= "btn btn-info" href="{% url "proyectos:userstory:reporte_cambio_fase" object.proyecto.id object.id %}" title="Reporte de cambios de fase en US">
                            Generar reporte (fases)
                        </a>
                    </p>
                </h1>
            </div>
            <div class="panel-body">
                <div class="col-sm-10 col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% if object.archivo_adjunto %}
                                <a href="{{ object.archivo_adjunto.url }}">Archivo adjunto: {{ object.archivo_adjunto.url }}</a>
                            {% else %}
                                <h5>No tiene archivo adjunto</h5>
                            {% endif %}
                            <h1>{{ object.nombre }} <br>
                                <small>Estado: {{ object.get_estado_display }}</small><br>
                                <small>Fase actual: {{ object.fase_actual }}</small><br>
                                <small>Sub Fase: {{ object.get_subfase_display }}</small><br>
                                <small>Modificado el {{ object.fecha_modificacion }}</small>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <strong>Descripción corta:</strong> {{ object.descripcion_corta }}<br>
                    <strong>Descripción larga:</strong> {{ object.descripcion_larga }}<br>
                    <strong>Prioridad:</strong> {{ object.prioridad_final }}<br>
                    <strong>Tipo de US:</strong> {{ object.tipo_us.nombre }}<br>
                    <strong>Asignado a:</strong>
                    {% if object.team_member %}
                        {{ object.team_member.usuario.username }}<br>
                    {% else %}
                        No ha sido asignado a algún integrante<br>
                    {% endif %}
                    <strong>Asignado a proyecto:</strong> {{ proyecto.nombre }}<br>
                    <strong>Valor de negocio:</strong> {{ object.valor_negocio }}<br>
                    <strong>Valor técnico:</strong> {{ object.valor_tecnico }}<br>
                    <strong>Tiempo estimado:</strong> {{ object.tiempo_estimado }} (horas)<br>
                    <strong>Tiempo dedicado:</strong> {{ object.tiempo_dedicado }} (horas)<br>
                </div>

                <div class="col-sm-10 col-md-10">
                    <h3>Comentarios:</h3><br>
                    {% if comment_list %}
                        {% for comentario in comment_list %}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p align="right">{{ comentario.fecha|date:"d/M/Y - h:i" }}</p>
                                    <p>
                                        <b>{{ comentario.autor }}:</b><br>
                                        {{ comentario.comentario }}
                                        {% if comentario.autor == request.user %}
                                        <p align="right">
                                            <a data-toggle="modal" href="#editarComentario_{{ comentario.id }}">
                                                <button type="submit" class="btn btn-primary">
                                                    Editar
                                                </button>
                                            </a>
                                            <a data-toggle="modal" href="#eliminarComentario_{{ comentario.id }}">
                                                <button type="submit" class="btn btn-danger">
                                                    Eliminar
                                                </button>
                                            </a>
                                        </p>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            {% include "comentario/editar_comentario.html" with comentario=comentario %}
                            {% include "comentario/eliminar_comentario.html" with comentario=comentario %}
                        {% endfor %}
                    {% else %}
                        <h4><center>No hay comentarios aún..</center></h4>
                    {% endif %}
                </div>
                <div><center>
                    <a class= "btn btn-default" href="{{request.META.HTTP_REFERER}}">Atrás</a></center>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
