{% extends 'base.html' %}

<!-- BOTONES DESHABILITADOS -->
{% block habilitar_buscador %}{% endblock %}
{% block habilitar_usuarios %}{% endblock %}
{% block habilitar_roles %}{% endblock %}
{% block add_proyecto %}{% endblock %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=userstory.proyecto us_active=True %}
{% endblock %}

{% block title %}
    User Stories | Eliminar: {{ userstory.nombre }}
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
    <div class="container center-block">
        <p> </p>
        <h3>Confirmacion de eliminación</h3>
	    <h4>&nbsp;¿Desea eliminar el user story: {{ object.nombre }} del proyecto {{ object.proyecto.nombre }}?</h4>
	    <button class="btn btn-danger" type="submit">Sí, eliminar</button>
        <a class= "btn btn-default" href="/proyecto/{{ object.proyecto_id }}/userstory/">Cancelar</a>
    </div>
</form>
{% endblock %}
