{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=user_story.proyecto us_active=True %}
{% endblock %}

{% block title %}
    User Stories | Historial: {{ user_story.nombre }}
{% endblock %}

{% block content %}

<div class="container">

<table class="table table-bordered">
    <h2>Versiones anteriores</h2>
    <div>
    <a class= "btn btn-default" onclick="window.history.back()">
        Volver al User Story
    </a>
    <a class= "btn btn-info" href="{% url "proyectos:userstory:reporte_historial" user_story.proyecto.id user_story.id %}">
        Generar reporte
    </a>
    </div>
    <div><p> </p></div>
    {% if object_list %}
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Descripción</td>
                <td>Fecha de modificación</td>
            </tr>
        </thead>

        <tbody>
            <div></div>
		    {% for hus in object_list %}
		    <tr>
			    <td>{{ hus.nombre }}</td>
                <td>{{ hus.descripcion_corta}}</td>
                <td>{{ hus.fecha_modificacion }}</td>
			    <td>
                    <a data-toggle="modal" href="#verHistorialUS_{{ hus.id }}">
                            <button type="submit" class="btn btn-primary">Ver</button>
                    </a>
			    </td>
		    </tr>
		    {% endfor %}
        </tbody>

    {% else %}
        <h2>No hay versiones anteriores del User Story</h2>
        <div><p> </p></div>
    {% endif %}
</table>
<ul class="pagination">
	<li class="page-item">
		{% if page_obj.has_previous %}
       	 <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	{% endif %}
    </li>
</ul>
</div>
    {% for hus in object_list %}
        {% include "userstory/historial_ver.html" with hus=hus %}
    {%  endfor %}
{% endblock %}