<div class="modal fade" id="verHistorialUS_{{ hus.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div>
          <h3 class="modal-title" id="exampleModalLabel"><strong>User Story</strong></h3>
        </div>
        <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong>Nombre:</strong> {{hus.nombre }}</h5>
        </div>
        <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong>Descripcion corta:</strong> {{ hus.descripcion_corta}}</h5>
        </div>
        <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong>Descripcion larga:</strong> {{ hus.descripcion_larga}}</h5>
        </div>
        <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong>Prioridad:</strong> {{ hus.prioridad}}</h5>
        </div>
        <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong>Prioridad final:</strong> {{ hus.prioridad_final}}</h5>
        </div>
        <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong>Tipo de US:</strong> {{ hus.tipo_us.nombre}}</h5>
        </div>
        <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong>Valor técnico:</strong> {{ hus.valor_tecnico}}</h5>
        </div>
        <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong>Valor de negocio:</strong> {{ hus.valor_negocio}}</h5>
        </div>
        <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong>Tiempo estimado:</strong> {{ hus.tiempo_estimado}}</h5>
        </div>
        <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong>Fecha de modificación:</strong> {{ hus.fecha_modificacion}}</h5>
        </div>
          <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong>Horas dedicadas:</strong> {{ hus.tiempo_dedicado }}</h5>
        </div>
          <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong>Estado:</strong> {{ hus.get_estado_display }}</h5>
        </div>
          <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong>Fase:</strong> {{ hus.fase_actual }}</h5>
        </div>
          <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong>Subfase:</strong> {{ hus.get_subfase_display }}</h5>
        </div>

      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
