{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto us_active=True %}
{% endblock %}

{% block title %}
    User Stories | Lista de US
{% endblock %}

{% block content %}
    {% load guardian_tags %}
    {% get_obj_perms request.user for proyecto as "US_perms" %}
    <div class="container center-block">
        <div class="container-fluid">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1>
                    <p class="text-center">Proyecto {{ proyecto.nombre }}: User Stories</p>
                </h1>
            </div>
            <div class="panel-body">
                <p></p>
                <a class= "btn btn-default" href="/proyecto/{{ proyecto.id }}">Volver al proyecto</a>
                <a class="btn btn-success" href="crear_us"><center>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Crear Nuevo</center>
                </a>
                <table class="table table-bordered">
                    <div><p> </p></div>
                    {% if object_list %}
                    <thead>
                        <tr>
                            <td><b><center>Nombre</center></b></td>
                            <td><b><center>Descripción</center></b></td>
                            <td><b><center>Estado</center></b></td>
                            <td><b><center>Prioridad</center></b></td>
                            <td><b><center>Horas estimadas:</center></b></td>
                            <td><b><center>Horas trabajadas:</center></b></td>
                            <td><b><center>Asignado a:</center></b></td>

                        </tr>
                    </thead>
                    <tbody>
                        <div></div>
                            {% for us in object_list %}
                                <tr>
                                    <td>{{ us.nombre }}</td>
                                    <td>{{ us.descripcion_corta }}</td>
                                    <td>{{ us.get_estado_display }}</td>
                                    <td>{{ us.prioridad_final }}</td>
                                    <td>{{ us.tiempo_estimado }}</td>
                                    <td>{{ us.tiempo_dedicado }}</td>
                                    {% if us.team_member.id == null %}
                                        <td style="color:#FF0000";><i>Sin asignar</i></td>
                                    {% else %}
                                        <td>{{ us.team_member.usuario.username }}</td>
                                    {% endif %}
                                    <td><center>
                                        {% if "ver_UserStory" in US_perms %}
                                            <a class="btn btn-info" href="detalle_us/{{ us.id }}">Ver</a>
                                        {% endif %}
                                        {% if "modificar_UserStory" in US_perms %}
                                            <a class="btn btn-primary" href="modificar_us/{{ us.id }}">Modificar</a>
                                        {% endif %}
                                        {% if "eliminar_UserStory" in US_perms %}
                                            <a class="btn btn-danger" href="eliminar_us/{{ us.id }}">Eliminar</a></center>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                    </tbody>
                    {% else %}
                        <h2>No hay registros de User Stories</h2>
                        <div><p> </p></div>
                    {% endif %}
                </table>
                <ul class="pagination">
                    <li class="page-item">
                        {% if page_obj.has_previous %}
                         <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if page_obj.has_next %}
                         <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
{% endblock %}