{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto us_active=True %}
{% endblock %}

{% block title %}
    Product Backlog
{% endblock %}

{% block content %}
    {% load guardian_tags %}
    {% get_obj_perms request.user for proyecto as "US_perms" %}
    <div class="container-fluid">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1>
                    <p class="text-center">{{ proyecto.nombre }} : Product Backlog</p>
                </h1>
            </div>
            <div class="panel-body">
                <p></p>
                <a class= "btn btn-default" href="/proyecto/{{ proyecto.id }}">Volver al proyecto</a>
                <p align="right">
                     {% if proyecto.estado != "Proyecto Cancelado" and proyecto.estado != "Finalizado" %}
                    <a class="btn btn-success" href="/proyecto/{{ proyecto.id }}/userstory/crear_us">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Crear US
                    </a>
                    {% endif %}
                    <a class= "btn btn-default" href="/proyecto/{{ proyecto.id }}/userstory/product_backlog/reporte">Reporte</a>
                    <a class= "btn btn-default" href="/proyecto/{{ proyecto.id }}/userstory/product_backlog/us_finalizados">US finalizados</a>
                </p>
                <table class="table table-bordered">
                    <div><p> </p></div>
                    {% if userstory_list %}
                    <thead>
                        <tr>
                            <td><b><center>N°</center></b></td>
                            <td><b><center>Id</center></b></td>
                            <td><b><center>Nombre</center></b></td>
                            <td><b><center>Descripción</center></b></td>
                            <td><b><center>Tipo US</center></b></td>
                            <td><b><center>Estado</center></b></td>
                            <td><b><center>Fase</center></b></td>
                            <td><b><center>SubFase</center></b></td>
                            <td><b><center>Prioridad</center></b></td>
                            <td><b><center>Horas estimadas:</center></b></td>
                            <td><b><center>Horas trabajadas:</center></b></td>
                            <td><b><center>Asignado a:</center></b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <div></div>
                            {% for us in us_list %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ us.id }}</td>
                                    <td>{{ us.nombre }}</td>
                                    <td>{{ us.descripcion_corta }}</td>
                                    <td>{{ us.tipo_us }}</td>
                                    <td><center>{{ us.get_estado_display }}</center></td>
                                    <td><center>{{ us.fase_actual }}</center></td>
                                    <td><center>{{ us.get_subfase_display }}</center></td>
                                    <td><center>{{ us.prioridad_final }}</center></td>
                                    <td>{{ us.tiempo_estimado }}</td>
                                    <td>{{ us.tiempo_dedicado }}</td>
                                    {% if us.team_member.id == null %}
                                        <td style="color:#FF0000";><i>Sin asignar</i></td>
                                    {% else %}
                                        <td>{{ us.team_member.usuario.username }}</td>
                                    {% endif %}
                                    <td><center>
                                        {% if "ver_UserStory" in US_perms %}
                                            <a class="btn btn-info" href="/proyecto/{{ proyecto.id }}/userstory/detalle_us/{{ us.id }}">Ver más</a>
                                        {% endif %}
                                    </center></td>
                                </tr>
                            {% endfor %}
                    </tbody>
                    {% else%}
                        <h2>No hay registros de User Stories</h2>
                    {% endif %}
                </table>
                <ul class="pagination">
                    <li class="page-item">
                        {% if page_obj.has_previous %}
                         <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if page_obj.has_next %}
                         <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}