{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto us_active=True %}
{% endblock %}

{% block title %}
    User Stories | Lista de US
{% endblock %}

{% block content %}

    <div class="container center-block">
        <div class="container-fluid">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1>
                    <p class="text-center">Proyecto {{ proyecto.nombre }}: User Stories</p>
                </h1>
            </div>
            <div class="panel-body">
                <p></p>
                <a class= "btn btn-default" href="/proyecto/{{ proyecto.id }}">Volver al proyecto</a>

                <table class="table table-bordered">
                    <div><p> </p></div>
                    <thead>
                        <tr>
                            <td><b><center>Nombre</center></b></td>
                            <td><b><center>Descripción</center></b></td>
                            <td><b><center>Prioridad</center></b></td>
                            <td><b><center>Asignado a:</center></b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <div></div>
                        {% if object_list %}
                            {% for us in object_list %}
                                <tr>
                                    <td>{{ us.nombre }}</td>
                                    <td>{{ us.descripcion_corta }}</td>
                                    <td>{{ us.prioridad_final }}</td>
                                    {% if us.team_member.id == null %}
                                        <td style="color:#FF0000";><i>Aún no ha sido asignado a algún integrante</i></td>
                                    {% else %}
                                        <td>{{ us.team_member.usuario.username }}</td>
                                    {% endif %}
                                    <td><center>

                                            <a class="btn btn-info" href="detalle/{{ us.id }}">Ver</a>

                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <h2>No hay registros de User Stories</h2>
                            <div><p> </p></div>
                        {% endif %}
                    </tbody>
                </table>
                <ul class="pagination">
                    <li class="page-item">
                        {% if page_obj.has_previous %}
                         <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if page_obj.has_next %}
                         <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </div>
{% endblock %}