body {
    background: white url("images/background.png");
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}

.boton_eliminar{
    text-decoration: none;
    padding: 10px;
    font-weight: inherit;
    font-size: inherit;
    color: white;
    background-color: red;
    border-radius: 6px;
    border: 2px solid darkred;
}

.boton_eliminar:hover{
    color: red;
    background-color: white;
}

.boton_cancelar{
    text-decoration: none;
    padding: 10px;
    font-weight: inherit;
    font-size: inherit;
    color: white;
    background-color: silver;
    border-radius: 6px;
    border: 2px solid darkgrey;
}

.boton_cancelar:hover{
    color: black;
    background-color: white;
}

.boton_alta{
    text-decoration: none;
    padding: 10px;
    font-weight: inherit;
    font-size: inherit;
    color: white;
    background-color: green;
    border-radius: 6px;
    border: 2px solid darkgreen;
}

.boton_alta:hover{
    color: green;
    background-color: white;
}

.boton_editar{
    text-decoration: none;
    padding: 10px;
    font-weight: inherit;
    font-size: inherit;
    color: white;
    background-color: darkblue;
    border-radius: 6px;
    border: 2px solid darkblue;
}

.boton_editar:hover{
    color: darkblue;
    background-color: white;
}