{% url 'logout' as logout_url %}
{% url 'usuarios:listar' as listar_usuarios_url %}
{% url 'usuarios:registrar' as registrar_usuarios_url %}
{% url "proyectos:registrar" as registrar_proyectos_url %}
{% url 'principal' as home_url %}
{% url "roles:index" as roles_url %}
{% url 'roles:listar' as listar_roles_url %}
{% url 'roles:crear' as crear_rol_url %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/{% static "style.css" %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <link rel="shortcut icon" href="https://a.fsdn.com/allura/p/super-mario-bros-java/icon?1494085744" />
    <title>{% block title %}Sistema Gerenciador de Proyectos{% endblock %}</title>

    {% block base_head %}{% endblock %}
</head>

<body>
    {% block navbar%}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">

                <!-- Cabecera -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MenuDesplegable">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ home_url }}">SGP</a>
                </div>

                <!-- Items -->
                <div class="collapse navbar-collapse" id="MenuDesplegable">
                    <ul class="nav navbar-nav">

                        {% block tipo_navbar %}
                            <!-- Lo que va en el nav bar, se aconseja que sean includes de navbar_sistema o nav_bar proyecto -->
                        {% endblock %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        {% block navbar_derecha %}
                            <!-- Lo que va en la parte derecha del navbar-->
                        {% endblock %}
                        <li>
                            <a href="{{ logout_url }}">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                                Cerrar Sesión ({{ request.user }})
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}


    <div class="container-fluid">
        {% block content %}
            <!-- Aquí va el contenido de la página-->
        {% endblock %}
    </div>
</body>
</html>