{% extends "base.html" %}

{% block tipo_navbar %}
    {% include "navbar_sistema.html" with proyectos_active=True %}
{% endblock %}

<!-- BOTÓN ACTIVO -->
{% block proyectos_active %}
    active
{% endblock %}

{% block content %}
    {% if all_proyectos %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td><strong>No. Proyecto</strong></td>
                    <td><strong>Nombre de Proyecto</strong></td>
                    <td><strong>Cantidad de integrantes</strong></td>
                    <td><strong>Estado</strong></td>
                    <td><strong>Acciones</strong></td>
                </tr>
            </thead>
            <tbody>
                {% for proyecto in all_proyectos %}
                    <tr>
                        <td>{{ proyecto.id }}</td>
                        <td>{{ proyecto.nombre}}</td>
                        <td>{{ proyecto.team_member_set.count}}</td>
                        <td>{{ proyecto.estado}}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url "proyectos:detalle" proyecto.id %}">Detalles</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <ul class="pagination">
            <li class="page-item">
                {% if page_obj.has_previous %}
                    <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
            </li>
            <li>
                {% if page_obj.has_next %}
                 <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
            </li>
        </ul>
    {% else %}
        <h2>No se han encontrado Proyectos</h2>
    {% endif %}
{% endblock %}

{% block navbar_derecha %}
    {% if perms.proyectos.add_proyecto %}
        <li>
            <a class="boton_alta" href="{{ registrar_proyectos_url }}" style="color: white; background-color: green;">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp;
                Nuevo Proyecto
            </a>
        </li>
    {% endif %}
    <form class="navbar-form navbar-left" role="search" method="get" action="{{ home_url }}">
        <div class="form-group">
            <input type="text" class="form-control" name="q" value="{{ request.GET.q }}">
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;Buscar</button>
    </form>
{% endblock %}