<!-- BOTÓN PROYECTOS -->
<li {% if proyectos_active %}class="active"{% endif %}>
    <a href="{{ home_url }}">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>&nbsp;
        Lista de Proyectos
    </a>
</li>
<!-- BOTÓN USUARIOS -->
<li class="{% if user_active %}active{% else %}nav-item dropdown{% endif %}">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
        Usuarios
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/usuarios/ver/{{request.user.id}}">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
            Mi perfil ({{ request.user.username }})
        </a><br>
        {% if perms.auth.add_user %}
            <a class="dropdown-item" href="{{registrar_usuarios_url}}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                Registrar Usuario
            </a><br>
        {% endif %}
        {% if perms.auth.add_user or perms.auth.change_user or perms.auth.delete_user %}
            <a class="dropdown-item" href="{{ listar_usuarios_url }}">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;
                Listar Usuarios
            </a>
        {% endif %}
    </div>
</li>
<!-- BOTÓN ROLES -->
{% if perms.auth.add_group or perms.auth.change_group or perms.auth.delete_group %}
<li class="{% if rol_active %}active{% else %}nav-item dropdown{% endif %}">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;
        Roles
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if perms.auth.add_group %}
        <a class="dropdown-item" href="{{ crear_rol_url }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
            Crear Rol
        </a><br>
        {% endif %}
        <a class="dropdown-item" href="{{ listar_roles_url }}">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;
            Listar Roles
        </a><br>
    </div>
</li>

{%  endif %}
<!-- BOTON HISTORIAL -->
{% if perms.sgp.view_logsistema %}
    <li {% if historial_active %}class="active"{% endif %}>
    <a href="/historial">
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>&nbsp;
        Historial
    </a>
</li>
{%  endif %}
