{% load guardian_tags %}
{% get_obj_perms request.user for proyecto as "permisos" %}
<!-- BOTÓN PROYECTOS -->
<li class="{% if proyecto_active %}active{% endif %} nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        Proyecto
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/proyecto/{{ proyecto.id }}">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>&nbsp;
            Menu del proyecto
        </a><br>
        {% if "ver_tablero" in permisos%}
        <a class="dropdown-item" href="/proyecto/{{ proyecto.id }}/tablero">
            <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>&nbsp;
            Tablero Kanban
        </a><br>
        {% endif %}
        <a class="dropdown-item" href="/principal">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;
            Ir a la pagina principal
        </a><br>
    </div>
</li>
{% if proyecto.estado != "Proyecto Cancelado" and proyecto.estado != "Finalizado" %}
<!-- BOTÓN TEAM -->
{% if "view_proyecto" in permisos %}
<li class="{% if team_active %}active{% endif %} nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>&nbsp;
        Team
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/proyecto/{{ proyecto.id }}/team/">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;
            Listado
        </a><br>
        {% if "add_Integrante" in permisos %}
        <a class="dropdown-item" href="/proyecto/{{ proyecto.id }}/team/add">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
            Agregar Integrante
        </a><br>
        {% endif %}
    </div>
</li>
{% endif %}

<!-- BOTÓN TIPO US -->
{% if "add_Tus" in permisos %}
<li class="{% if tus_active %}active{% endif %} nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>&nbsp;
        Tipos de US
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/proyecto/{{ proyecto.id }}/tipous/">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;
            Listado
        </a><br>
        <a class="dropdown-item" href="/proyecto/{{ proyecto.id }}/tipous/add">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
            Agregar Tipo de US
        </a><br>
        <a class="dropdown-item" href="/proyecto/{{ proyecto.id }}/tipous/importar">
            <span class="glyphicon glyphicon-import" aria-hidden="true"></span>&nbsp;
            Importar Tipo de US
        </a><br>
    </div>
</li>
{%  endif %}

<!-- BOTÓN USER STORIES -->
{% if "ver_UserStory" in permisos or "crear_UserStory" in permisos %}
<li class="{% if us_active %}active{% endif %} nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>&nbsp;
        User Stories
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if "ver_UserStory" in permisos%}
        <a class="dropdown-item" href="/proyecto/{{ proyecto.id }}/userstory/">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;
            Listado
        </a><br>
        {% endif %}
        {% if "crear_UserStory" in permisos %}
        <a class="dropdown-item" href="/proyecto/{{ proyecto.id }}/userstory/crear_us">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
            Crear US
        </a><br>
        {% endif %}
        {% if "ver_UserStory" in permisos%}
        <a class="dropdown-item" href="/proyecto/{{ proyecto.id }}/userstory/product_backlog/reporte">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>&nbsp;
            Reporte completo
        </a><br>
        {% endif %}
    </div>
</li>
{% endif %}

<!-- BOTÓN SPRINTS -->
{% if "view_Sprint" in permisos or "add_Sprint" in permisos %}
<li class="{% if sprint_active %}active{% endif %} nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>&nbsp;
        Sprints
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if "view_Sprint" in permisos %}
        <a class="dropdown-item" href="/proyecto/{{ proyecto.id }}/sprint/">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;
            Listado
        </a><br>
        {% endif %}
        {% if "add_Sprint" in permisos %}
        <a class="dropdown-item" href="/proyecto/{{ proyecto.id }}/sprint/add">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
            Agregar Sprint
        </a><br>
        {% if "crear_UserStory" in permisos %}
        <a class="dropdown-item" href="/proyecto/{{ proyecto.id }}/sprint/importar">
            <span class="glyphicon glyphicon-import" aria-hidden="true"></span>&nbsp;
            Importar Sprint
        </a><br>
        {% endif %}
        {% endif %}
    </div>
</li>
{% endif %}
{% endif %}
