<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
     <head>
         <title>Reporte de cambio de fases en US</title>
         <style type="text/css">
             body {
                 font-weight: 200;
                 font-size: 14px;
             }
             .header {
                 font-size: 12px;
                 text-align: right;

             }
             .title {
                 font-size: 22px;
                 font-weight: 100;
                /* text-align: right;*/
                padding: 10px 20px 0px 20px;
             }
             .title span {
                 color: #007cae;
             }
             .details {
                 padding: 10px 20px 0px 20px;
                 text-align: left !important;
                 /*margin-left: 40%;*/
             }
             .hrItem {
                 border: none;
                 height: 1px;
                 /* Set the hr color */
                 color: #333; /* old IE */
                 background-color: #fff; /* Modern Browsers */
             }
             .hrItemHeader {
                 border: none;
                 height: 0.5px;
                 /* Set the hr color */
                 color: #333; /* old IE */
                 background-color: #fff; /* Modern Browsers */
             }
             .header2 {
                 font-size: 20px;
                 font-weight: 100;
                 text-align: center;
                 color: #007cae;
             }
             table {
                 border-collapse: collapse;
                 width: 100%;
                 border: 0.5px solid black ;
                 border-collapse: collapse
            }
             tr{
                 padding: 5px;
                 text-align: left;
             }
             td{
                 text-align: center ;
             }
             .tamanio{
                 font-size: 13px;
             }
             .tilulos{
                 color: #007cae;
             }
         </style>
     </head>
     <body>
         <div class='wrapper'>
             <div class="header" >
                 Fecha de creacion: {{ hora | date:"d/m/Y H:i"}} <br/>
                 <hr class='hrItemHeader' />
             </div>
         <div>
         <div class='details'>
             <p class='header2 title'>Cambios de fase en: {{ user_story.nombre }} </p>
             Nombre de Proyecto: {{ user_story.proyecto.nombre  }} <br/>
             Ultima modificación: {{ user_story.fecha_modificacion|date:"d/m/Y"  }} <br/>
             Estado actual: {{ user_story.get_estado_display }}
             <hr class='hrItem' />
             <hr class='hrItem' />
         </div>
         </div>
             <table>
                 <div><p> </p></div>
                 {% if historial %}
                      <thead>
                          <tr>
                              <td><b>Hora:</b></td>
                              <td><b>Fase:</b></td>
                              <td><b>SubFase:</b></td>
                              <td><b>Horas trabajadas:</b></td>
                              <td><b>Realizado por:</b></td>
                          </tr>
                      </thead>
                      <tbody>
                      <div></div>
                      {% for us in historial %}
                            {% if us.cambio_realizado == "Cambio de Fase" %}
                              <tr class="tamanio">
                                <td>{{ us.fecha_modificacion | date:"d/m/Y H:i"}}</td>
                                <td>{{ us.fase_actual }}</td>
                                <td>{{ us.get_subfase_display }}</td>
                                <td>{{ us.tiempo_dedicado }}</td>
                                {% if us.team_member.id == null %}
                                    <td style="color:#FF0000";><i>Sin usuario asignado</i></td>
                                {% else %}
                                    <td>{{ us.team_member.usuario.username }}</td>
                                {% endif %}
                              </tr>
                            {% endif %}
                      {% endfor %}
                      <div><p> </p></div>
                    </tbody>
                 {% else %}
                     <h2>No hay registros de historial en {{ user_story.nombre }}</h2>
                     <div><p> </p></div>
                 {% endif %}
             </table>
         </div>
     </body>
</html>