 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
     <head>
         <title>Reporte de Horas trabajadas</title>
         <style type="text/css">
             body {
                 font-weight: 200;
                 font-size: 14px;
             }
             .header {
                 font-size: 12px;
                 text-align: right;

             }
             .title {
                 font-size: 22px;
                 font-weight: 100;
                /* text-align: right;*/
                padding: 10px 20px 0px 20px;
             }
             .title span {
                 color: #007cae;
             }
             .details {
                 padding: 10px 20px 0px 20px;
                 text-align: left !important;
                 /*margin-left: 40%;*/
             }
             .hrItem {
                 border: none;
                 height: 1px;
                 /* Set the hr color */
                 color: #333; /* old IE */
                 background-color: #fff; /* Modern Browsers */
             }
             .hrItemHeader {
                 border: none;
                 height: 0.5px;
                 /* Set the hr color */
                 color: #333; /* old IE */
                 background-color: #fff; /* Modern Browsers */
             }
             .header2 {
                 font-size: 20px;
                 font-weight: 100;
                 text-align: center;
                 color: #007cae;
             }
             table {
                 border-collapse: collapse;
                 width: 100%;
                 border: 0.5px solid black ;
                 border-collapse: collapse
            }
             tr{
                 padding: 5px;
                 text-align: left;
             }
             .tilulos{
                 color: #007cae;
             }


         </style>
     </head>
     <body>
         <div class='wrapper'>
             <div class="header" >
                 Fecha de creacion: {{ hora | date:"d/m/Y H:i"}} <br/>
                 <hr class='hrItemHeader' />
             </div>
         <div>
         <div class='details'>
             <p class='header2 title'>Reporte de horas trabajadas en el proyecto </p>
             <hr class='hrItem' />
             <p>Nombre del Proyecto: {{ proyecto.nombre }} </p>
             <p>Fecha de inicio del Proyecto: {{ proyecto.fecha_inicio | date:"d/m/Y" }} </p>
             <p>Estado del Proyecto: {{ proyecto.estado }} </p>
             <hr class='hrItem' />
             <hr class='hrItem' />


         </div>
        </div>
             <table>
                    <div><p> </p></div>
                 {% if team %}
                    <thead>
                        <tr>
                            <td><b>Nombre</b></td>
                            <td><b>Rol en el Proyecto</b></td>
                            <td><b>Horas trabajadas en el proyecto</b></td>
                            <td><b>Horas disponibles por dia</b></td>
                        </tr>
                    </thead>
                 {% else %}
                     <h2>No hay registros de User Stories</h2>
                     <div><p> </p></div>
                 {% endif %}
                 <tbody>
                        <div></div>
                        {% if team %}
                            {% for tm in team %}
                                <tr>
                                    <td>{{ tm.usuario.username }}</td>
                                    <td>{{ tm.rol }}</td>
                                    <td>{{ tm.horas_trabajadas }}</td>
                                    <td>{{ tm.horas_trabajo }}</td>

                                </tr>
                            {% endfor %}
                            <div><p> </p></div>
                        {% endif %}
                    </tbody>
                </table>
     </body>
 </html>