 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
     <head>
         <title>Reporte por Proyecto</title>
         <style type="text/css">
             body {
                 font-weight: 200;
                 font-size: 14px;
             }
             .header {
                 font-size: 12px;
                 text-align: right;

             }
             .title {
                 font-size: 22px;
                 font-weight: 100;
                /* text-align: right;*/
                padding: 10px 20px 0px 20px;
             }
             .title span {
                 color: #007cae;
             }
             .details {
                 padding: 10px 20px 0px 20px;
                 text-align: left !important;
                 /*margin-left: 40%;*/
             }
             .hrItem {
                 border: none;
                 height: 1px;
                 /* Set the hr color */
                 color: #333; /* old IE */
                 background-color: #fff; /* Modern Browsers */
             }
             .hrItemHeader {
                 border: none;
                 height: 0.5px;
                 /* Set the hr color */
                 color: #333; /* old IE */
                 background-color: #fff; /* Modern Browsers */
             }
             .header2 {
                 font-size: 20px;
                 font-weight: 100;
                 text-align: center;
                 color: #007cae;
             }
             table {
                 border-collapse: collapse;
                 width: 100%;
                 border: 0.5px solid black ;
                 border-collapse: collapse
            }
             tr{
                 padding: 5px;
                 text-align: left;
             }
             .tilulos{
                 color: #007cae;
             }


         </style>
     </head>
     <body>
         <div class='wrapper'>
             <div class="header" >
                 Fecha de creacion: {{ hora | date:"d/m/Y H:i"}} <br/>
                 <hr class='hrItemHeader' />
             </div>
         <div>
         <div class='details'>
             <p class='header2 title'>Product Backlog del proyecto {{ proyecto.nombre }} </p>
             <hr class='hrItem' />
             <hr class='hrItem' />
         </div>
        </div>
             <table>
                    <div><p> </p></div>
                 {% if us_list %}
                    <thead>
                        <tr>
                            <td><b>Nombre</b></td>
                            <td><b>Tipo US</b></td>
                            <td><b>Estado</b></td>
                            <td><b>Fase</b></td>
                            <td><b>SubFase</b></td>
                            <td><b>Prioridad</b></td>
                            <td><b><center>Horas estimadas:</center></b></td>
                            <td><b><center>Horas trabajadas:</center></b></td>
                            <td><b>Asignado a:</b></td>
                        </tr>
                    </thead>
                 {% else %}
                     <h2>No hay registros de User Stories</h2>
                     <div><p> </p></div>
                 {% endif %}
                 <tbody>
                        <div></div>
                        {% if us_list %}
                            {% for us in us_list %}
                                <tr>
                                    <td>{{ us.nombre }}</td>
                                    <td>{{ us.tipo_us }}</td>
                                    <td>{{ us.get_estado_display }}</td>
                                    <td>{{ us.fase_actual }}</td>
                                    <td>{{ us.get_subfase_display }}</td>
                                    <td>{{ us.prioridad_final }}</td>
                                    <td>{{ us.tiempo_estimado }}</td>
                                    <td>{{ us.tiempo_dedicado }}</td>
                                    {% if us.team_member.id == null %}
                                        <td style="color:#FF0000";><i>Sin asignar</i></td>
                                    {% else %}
                                        <td>{{ us.team_member.usuario.username }}</td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            <div><p> </p></div>
                        {% endif %}
                    </tbody>
                </table>
     </body>
 </html>