 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
     <head>
         <title>Reporte de Desempeño del equipo de Trabajo</title>
         <style type="text/css">
             body {
                 font-weight: 200;
                 font-size: 14px;
             }
             .header {
                 font-size: 12px;
                 text-align: right;

             }
             .title {
                 font-size: 22px;
                 font-weight: 100;
                /* text-align: right;*/
                padding: 10px 20px 0px 20px;
             }
             .title span {
                 color: #007cae;
             }
             .details {
                 padding: 10px 20px 0px 20px;
                 text-align: left !important;
                 /*margin-left: 40%;*/
             }
             .hrItem {
                 border: none;
                 height: 1px;
                 /* Set the hr color */
                 color: #333; /* old IE */
                 background-color: #fff; /* Modern Browsers */
             }
             .hrItemHeader {
                 border: none;
                 height: 0.5px;
                 /* Set the hr color */
                 color: #333; /* old IE */
                 background-color: #fff; /* Modern Browsers */
             }
             .header2 {
                 font-size: 20px;
                 font-weight: 100;
                 text-align: center;
                 color: #007cae;
             }
             table {
                 border-collapse: collapse;
                 width: 100%;
                 border: 0.5px solid black ;
                 border-collapse: collapse
            }
             tr{
                 padding: 5px;
                 text-align: left;
             }
             .tilulos{
                 color: #007cae;
             }


         </style>
     </head>
     <body>
         <div class='wrapper'>
             <div class="header" >
                 Fecha de creacion: {{ hora | date:"d/m/Y H:i"}} <br/>
                 <hr class='hrItemHeader' />
             </div>
         <div>
         <div class='details'>
             <p class='header2 title'>Reporte de trabajo de cada Miembro del equipo </p>
             <hr class='hrItem' />
             <p>Nombre del Proyecto: {{ proyecto.nombre }} </p>
             <p>Fecha de inicio del Proyecto: {{ proyecto.fecha_inicio | date:"d/m/Y" }} </p>
             <p>Estado del Proyecto: {{ proyecto.estado }} </p>
             <hr class='hrItem' />
             <hr class='hrItem' />

         </div>
        </div>
             <table>
                <thead>
                    <tr>
                        {% for columna in cabeza %}
                        <td><b>{{ columna }}</b></td>
                        {% endfor %}
                    </tr>
                </thead>
                 <tbody>
                    {% for fila in matriz %}
                    <tr>
                    {% for columna in fila %}
                        <td>{{ columna }}</td>
                    {% endfor %}
                    </tr>
                    {% endfor %}
                 </tbody>
                </table>

     </body>
 </html>