 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
     <head>
         <title>Reporte de US asignados a team member en sprint</title>
         <style type="text/css">
             body {
                 font-weight: 200;
                 font-size: 14px;
             }
             .header {
                 font-size: 12px;
                 text-align: right;

             }
             .title {
                 font-size: 22px;
                 font-weight: 100;
                /* text-align: right;*/
                padding: 10px 20px 0px 20px;
             }
             .title span {
                 color: #007cae;
             }
             .header2 {
                 font-size: 20px;
                 font-weight: 100;
                 text-align: center;
                 color: #007cae;
             }
             .details {
                 padding: 10px 20px 0px 20px;
                 text-align: left !important;
                 /*margin-left: 40%;*/
             }
             .hrItem {
                 border: none;
                 height: 1px;
                 /* Set the hr color */
                 color: #333; /* old IE */
                 background-color: #fff; /* Modern Browsers */
             }
             .hrItemHeader {
                 border: none;
                 height: 0.5px;
                 /* Set the hr color */
                 color: #333; /* old IE */
                 background-color: #fff; /* Modern Browsers */
             }
             table {
                 border-collapse: collapse;
                 width: 100%;
                 border: 0.5px solid black ;
                 border-collapse: collapse;

            }
             tr{
                 padding: 5px;
                 text-align: left;
             }
             .tilulos{
                 color: #007cae;
             }
             td{
                 height: auto;
                 width: 200px
             }


         </style>
     </head>
     <body>
         <div class='wrapper'>
             <div class="header" >
                 Fecha de creacion: {{ hora | date:"d/m/Y H:i" }} <br/>
                 <hr class='hrItemHeader' />
             </div>
         <div>
             {% if sprintbacklog %}
         <div class='details'>
             <p class='header2 title'>Reporte de US de  sprint {{ Sprint }}</p>
             <hr class='hrItem' />
             Nombre de Proyecto: {{ proyecto.nombre  }} <br/>
             Nombre del Sprint:{{ Sprint }} <br/>
             Fecha de inicio de sprint: {{ Sprint.fechaInicio | date:"d/m/Y" }} <br/>
             Fecha de finalizacion estimada del sprint:{{ Sprint.fechaFinalizacion | date:"d/m/Y " }} <br/>
             <hr class='hrItem' />
         </div>
        </div>
             <table >
                    <div><p> </p></div>
                 {% if sprintbacklog %}
                    <thead>
                        <tr>
                            <td><b>Nombre</b></td>
                            <td><b>Prioridad</b></td>
                            <td><b>Estado</b></td>
                            <td><b>Fase</b></td>
                            <td><b>Subfase</b></td>
                            <td><b>Asignado a </b></td>
                            <td><b>Tiempo estimado</b></td>
                            <td><b>Tiempo dedicado</b></td>

                        </tr>
                    </thead>
                 {% else %}
                            <h2>No hay registros de User Stories</h2>
                            <div><p> </p></div>
                 {% endif %}
                    <tbody>
                        <div></div>
                        {% if sprintbacklog %}
                            {% for us in sprintbacklog %}
                                <tr>
                                    <td>{{ us.nombre }}</td>
                                    <td>{{ us.prioridad_final }}</td>
                                    <td>{{ us.get_estado_display }}</td>
                                    {% if us.fase_actual.id == null %}
                                        <td style="color:#FF0000";><i>Ninguna</i></td>
                                    {% else %}
                                        <td>{{ us.fase_actual.nombre }}</td>
                                    {% endif %}
                                    <td>{{ us.get_subfase_display }}</td>
                                    <td>{{ us.team_member.usuario.username }}</td>
                                    <td>{{ us.tiempo_estimado }}</td>
                                    <td>{{ us.tiempo_dedicado }}</td>

                                </tr>
                            {% endfor %}

                            <div><p> </p></div>
                        {% endif %}
                    </tbody>
                </table>
         {% else %}
            <div class='details'>
             <p class='header2 title'>Reporte de US asignados a {{ Nombre.usuario.username }}</p>
             <hr class='hrItem' />
             Nombre de usuario : {{ Nombre.usuario.username  }} <br/>
             Nombre completo : {{ Nombre.usuario.get_full_name  }} <br/>
             Nombre de Proyecto: {{ proyecto.nombre  }} <br/>
             Nombre del Sprint:{{ Sprint }} <br/>
             Fecha de inicio de sprint: {{ Sprint.fechaInicio }} <br/>
             Fecha de finalizacion estimada del sprint:{{ Sprint.fechaFinalizacion }} <br/>
             <hr class='hrItem' />
         </div>
        </div>
             <table >
                    <div><p> </p></div>
                 {% if object_list %}
                    <thead>
                        <tr>
                            <td><b>Nombre</b></td>
                            <td><b>Prioridad</b></td>
                            <td><b>Estado</b></td>
                            <td><b>Fase</b></td>
                            <td><b>Subfase</b></td>
                            <td><b>Tiempo estimado</b></td>
                            <td><b>Tiempo dedicado</b></td>

                        </tr>
                    </thead>
                 {% else %}
                            <h2>No hay registros de User Stories</h2>
                            <div><p> </p></div>
                 {% endif %}
                    <tbody>
                        <div></div>
                        {% if object_list %}
                            {% for us in object_list %}
                                <tr>
                                    <td>{{ us.nombre }}</td>
                                    <td>{{ us.prioridad_final }}</td>
                                    <td>{{ us.get_estado_display }}</td>
                                    {% if us.fase_actual.id == null %}
                                        <td style="color:#FF0000";><i>Ninguna</i></td>
                                    {% else %}
                                        <td>{{ us.fase_actual.nombre }}</td>
                                    {% endif %}
                                    <td>{{ us.get_subfase_display }}</td>
                                    <td>{{ us.tiempo_estimado }}</td>
                                    <td>{{ us.tiempo_dedicado }}</td>

                                </tr>
                            {% endfor %}

                            <div><p> </p></div>
                        {% endif %}
                    </tbody>
                </table>
        {% endif %}

     </body>
 </html>