{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=object.tipous.proyecto tus_active=True %}
{% endblock %}

{% block title %}
    Tipos de US | Fases | Eliminar: {{ fase.nombre }}
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
    <div class="container center-block">
	    <h3>¿Desea eliminar la fase {{ object.nombre}}?</h3>
	    <button class="btn btn-danger" type="submit">Sí, eliminar</button>
	    <a class= "btn btn-default" href="/proyecto/{{ object.tipous.proyecto.id }}/tipous/{{ object.tipous.id }}">Cancelar</a>
    </div>
</form>
{% endblock %}