{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto tus_active=True %}
{% endblock %}

{% block title %}
    Tipos de US | Lista de TUS
{% endblock %}

{% block content %}

<div class="container">

<table class="table table-bordered">
    <h2>Proyecto {{ proyecto.nombre }}: Tipos de User Story</h2>
    <div><p> </p></div>
    <a class= "btn btn-default" href="/proyecto/{{ proyecto.id }}">Volver al proyecto</a>&nbsp;
    <a class="btn btn-success" href="add">Crear Nuevo Tipo de UserStory</a>&nbsp;
    <a class="btn btn-warning" href="importar">Importar</a>&nbsp;
    <div><p> </p></div>
    <thead>
		<tr>
			<td>Nombre</td>
            <td>Descripcion</td>
            <td>Acciones</td>
		</tr>

</thead>
    <tbody>
        <div></div>

		{% if object_list %}
		    {% for tipous in object_list %}
		    <tr>
			    <td>{{ tipous.nombre }}</td>
                <td>{{ tipous.descripcion}}</td>
			    <td>
                    <a data-toggle="modal" href="#verTipous_{{ tipous.id }}">
                            <button type="submit" class="btn btn-info">Ver</button>
                        </a>

				    <a class="btn btn-primary" href="editar/{{ tipous.id }}">Editar</a>
				    <a class="btn btn-danger" href="borrar/{{ tipous.id }}">Eliminar</a>
                    {# Deshabilitado por Eduardo:<a class="btn btn-primary" href="{{ tipous.id }}/">Fases</a> #}
			    </td>
		    </tr>
		    {% endfor %}

		{% else %}
		    <h2>No hay registros de Tipos de User Story</h2>
            <div><p> </p></div>
		{% endif %}
</tbody>
</table>
<ul class="pagination">
	<li class="page-item">
		{% if page_obj.has_previous %}
       	 <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	{% endif %}
    </li>
</ul>
</div>
    {% for tipous in object_list %}
    {% include "tipous/tipous_ver.html" with tipous=tipous %}
    {%  endfor %}
{% endblock %}