{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto tus_active=True %}
{% endblock %}

{% block title %}
    Tipos de US | Importar: {{ tipous.nombre }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h1>
                    <p class="text-center">¿Está seguro que desea importar el Tipo de US {{ tipous.nombre }} del proyecto {{ tipous.proyecto.nombre }} ?</p>
                </h1>
            </div>
            <div class="panel-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <p class="text-center">
                        <button type="submit" class="boton_alta">
                            Sí
                        </button>
                        <button onclick="window.history.back();" class="boton_cancelar" type="button" style='width:125px; height:50'>
                            Cancelar
                        </button>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}