{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto tus_active=True %}
{% endblock %}


{% block title %}
    Tipos de US | Importar
{% endblock %}

{% block content %}

<div class="container">

<table class="table table-bordered">
    <h2>Importar Tipos de US de otros proyectos</h2>
    <a class= "btn btn-default" href="/proyecto/{{ proyecto.id }}/tipous">
        Volver al listado de TUS
    </a>
    <div><p> </p></div>
    {% if object_list %}
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Proyecto</td>
                <td>Acciones</td>
            </tr>
        </thead>

        <tbody>
            <div></div>
		    {% for tipous in object_list %}
		    <tr>
			    <td>{{ tipous.nombre }}</td>
                <td>{{ tipous.proyecto.nombre}}</td>
			    <td>
                    <a data-toggle="modal" href="#verTipous_{{ tipous.id }}">
                            <button type="submit" class="btn btn-primary">Ver</button>
                    </a>&nbsp;

				    <a class="btn btn-success" href="importar/{{ tipous.id }}/">Seleccionar</a>
			    </td>
		    </tr>
		    {% endfor %}
        </tbody>

    {% else %}
        <h2>No hay registros de Tipos de User Story</h2>
        <div><p> </p></div>
    {% endif %}
</table>
<ul class="pagination">
	<li class="page-item">
		{% if page_obj.has_previous %}
       	 <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	{% endif %}
    </li>
</ul>
</div>
    {% for tipous in object_list %}
    {% include "tipous/tipous_ver.html" with tipous=tipous %}
    {%  endfor %}
{% endblock %}