{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto tus_active=True %}
{% endblock %}

{% block title %}
    Tipos de US | Nuevo TUS
{% endblock %}

{% block content %}
    <div class="container center-block">
    <form method="post">
        <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<h4>Registrar Tipo de user story al proyecto {{ proyecto.nombre }}</h4>
			</div>
		</div>
	</div>

	{% csrf_token %}
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Nombre</label>
				<input class="form-control" type="text" name="nombre">
			</div>
		</div>
	</div>
        <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Descripcion</label>
				<input class="form-control" type="text" name="descripcion">
			</div>
		</div>
	</div>
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
                <a class= "btn btn-danger" href="/proyecto/{{ proyecto.id }}/tipous/">Cancelar</a>
				<button class="btn btn-primary "type="submit">Guardar</button>
			</div>
		</div>
	</div>


</form>

{% endblock %}