{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto tus_active=True %}
{% endblock %}


{% block title %}
    Tipos de US | Fases | Lista de Fases
{% endblock %}

{% block content %}

<div class="container">

<table class="table table-bordered">
    <h2>Tipo de User Story: {{ tus.nombre }}: Fases</h2>
    <div><p> </p></div>
    <a class= "btn btn-default" href="/proyecto/{{ proyecto.id }}/tipous/">Volver al listado de TUS </a>
    <a class="btn btn-success" href="add">Crear Nueva Fase</a>
    <div><p> </p></div>
    <thead>
		<tr>
            <td>Orden</td>
			<td>Nombre</td>
            <td>Acciones</td>
		</tr>

</thead>
    <tbody>
        <div></div>

		{% if object_list %}
		    {% for fase in object_list %}
		    <tr>
                <td>{{ fase.orden }}</td>
			    <td>{{ fase.nombre }}</td>
			    <td>
				    <a class="btn btn-primary" href="editar/{{ fase.id }}">Editar</a>
				    <a class="btn btn-danger" href="borrar/{{ fase.id }}">Eliminar</a>
			    </td>
		    </tr>
		    {% endfor %}

		{% else %}
		    <h2>No hay registros de Fases de ese Tipo de User Story</h2>
            <div><p> </p></div>
		{% endif %}
</tbody>
</table>
<ul class="pagination">
	<li class="page-item">
		{% if page_obj.has_previous %}
       	 <a class="page-link" aria-label="Anterior" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a class="page-link" aria-label="Siguiente" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    	{% endif %}
    </li>
</ul>
</div>
    {% for tipous in object_list %}
    {% include "tipous/tipous_ver.html" with tipous=tipous %}
    {%  endfor %}
{% endblock %}