{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto tus_active=True %}
{% endblock %}


{% block title %}
    Tipos de US | Fases | Editar: {{ fase.nombre }}
{% endblock %}

{% block content %}
    <div class="container center-block">
    <form method="post">
        <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<h4>Registrar Tipo de user story al proyecto {{ proyecto.nombre }}</h4>
			</div>
		</div>
	</div>

	{% csrf_token %}
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Nombre de la Fase</label>
				<input class="form-control" type="text" name="nombre" value="{{ object.nombre }}">
			</div>
		</div>
	</div>
        <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Orden</label>
				<input class="form-control" type="number" min="0" name="orden" value="{{ object.orden }}">
			</div>
		</div>
	</div>
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<button class="btn btn-primary "type="submit">Guardar</button>
			</div>
		</div>
	</div>


</form>

{% endblock %}