{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=proyecto tus_active=True %}
{% endblock %}

{% block title %}
    Tipos de US | {% if object %}Editar: {{ tipous.nombre }}{% else %} Crear {% endif %}
{% endblock %}

{% block content %}
<script>
    function nueva_fila(boton1,boton2,boton3,nro_fila,value) {
        var ret;
        console.log("Crear fila "+nro_fila)
        ret = "<td>"+ nro_fila +"</td>\n"
        ret = ret + "<td><input name=\"fase_"+ nro_fila + "\"  value=\"" + value + "\" required type=\"text\" /></td>\n"
        ret = ret + "<td>"
        if (boton1){
            ret = ret + "<a class=\"btn btn-default\" onclick=\"up_row("+ nro_fila + ")\"><span class=\"glyphicon glyphicon-arrow-up\" /></a>\n"
        }
        if (boton2){
            ret = ret + "<a class=\"btn btn-default\" onclick=\"down_row("+ nro_fila + ")\"><span class=\"glyphicon glyphicon-arrow-down\" /></a>\n"
        }
        if (boton3){
            ret = ret + "<a class=\"btn btn-danger\" onclick=\"delete_row("+ nro_fila + ")\"><span class=\"glyphicon glyphicon-remove\" /></a>\n"
        }
        return ret + "</td>"
    }
    function new_row() {
        var tdoby = document.getElementById("tabla_fases").getElementsByTagName("tbody")[0]
        if (tdoby.rows.length>0) {
            val_ant = document.getElementsByName("fase_" + (tdoby.rows.length))[0].value
            fila_ant = tdoby.rows[tdoby.rows.length - 1]
            fila_ant.innerHTML = nueva_fila(tdoby.rows.length > 1, true, true, tdoby.rows.length, val_ant)
        }
        fila_nueva = tdoby.insertRow(tdoby.rows.length)
        fila_nueva.innerHTML = nueva_fila(tdoby.rows.length > 1,false,tdoby.rows.length>1,tdoby.rows.length,"")
    }
    function up_row(to_up) {
        if (to_up > 1){
            var fila = document.getElementsByName("fase_"+to_up)[0]
            var fila_arriba = document.getElementsByName("fase_"+(to_up - 1))[0]
            var aux= fila.value
            fila.value = fila_arriba.value
            fila_arriba.value = aux
        }
    }
    function down_row(to_down) {
        up_row(to_down +1 )
    }
    function delete_row(to_delete) {
        var  i ;
        var tdoby = document.getElementById("tabla_fases").getElementsByTagName("tbody")[0]
        for (i=to_delete;i < tdoby.rows.length; i++){
            down_row(i)
        }
        tdoby.deleteRow(tdoby.rows.length - 1)
        if(tdoby.rows.length>0){
            val_ant = document.getElementsByName("fase_" + (tdoby.rows.length))[0].value
            fila_ant = tdoby.rows[tdoby.rows.length - 1]
            fila_ant.innerHTML = nueva_fila(tdoby.rows.length > 1, false, true, tdoby.rows.length, val_ant)
        }else{
            new_row()
        }
    }
    function cantidad_fases() {
        var tdoby = document.getElementById("tabla_fases").getElementsByTagName("tbody")[0]
        document.getElementById("id_cant_fases").value=tdoby.rows.length;
    }
</script>
    <div class="container center-block">
    <form method="post">
        <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<h4>Registrar Tipo de user story al proyecto {{ proyecto.nombre }}</h4>
			</div>
		</div>
	</div>

	{% csrf_token %}
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Nombre</label>
				<input class="form-control" type="text" name="nombre" value="{{ object.nombre }}">
			</div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="form-group">
				<label>Descripcion</label>
				<input class="form-control" type="text" name="descripcion"  value="{{ object.descripcion }}">
			</div>
		</div>
    </div>
    <div class="row pre-scrollables">
		<div class="col-md-6 col-md-offset-2">
			<div class="form-group">
				<label>Fases</label>
                <table class="table table-bordered" id="tabla_fases">
                    <thead>
                        <td>Orden</td>
                        <td>Fase</td>
                        <td>Opciones</td>
                    </thead>
                    <tbody>
                    {% if object %}{% for fase in object.fase_set.all %}
                        <tr>
                            <td>{{ fase.orden }}</td>
                            <td><input name="fase_{{ forloop.counter }}"
                                       value="{{ fase.nombre }}" required type="text"/>
                            </td>
                            <td>
                                {% if forloop.counter != 1 %}<a class="btn btn-default" onclick="up_row({{ forloop.counter }})">
                                    <span class="glyphicon glyphicon-arrow-up" />
                                </a>{% endif %}
                                {% if forloop.revcounter != 1 %}<a class="btn btn-default" onclick="down_row({{ forloop.counter }})">
                                    <span class="glyphicon glyphicon-arrow-down" />
                                </a>{% endif %}
                                <a class="btn btn-danger" onclick="delete_row({{ forloop.counter }})">
                                    <span class="glyphicon glyphicon-remove" />
                                </a>
                            </td>
                        </tr>
                    {% endfor %}{% else %}
                        <script>new_row()</script>
                    {% endif %}
                    <input hidden value=""  name="cant_fases" id="id_cant_fases"/>
                    </tbody>
                    <tfoot>
                        <td></td>
                        <td><a class="btn btn-default" onclick="new_row()">Añadir Fase</a></td>
                    </tfoot>
                </table>
			</div>
		</div>
    </div>
        <div class="col-md-8 col-md-offset-2">
			<div class="form-group">
                <a class= "btn btn-danger" href="/proyecto/{{ proyecto.id }}/tipous/">Cancelar</a>
				<button onclick="cantidad_fases()" class="btn btn-primary "type="submit">Guardar</button>
			</div>
		</div>


</form>
    </div>
{% endblock %}