{% extends 'base.html' %}

{% block tipo_navbar %}
    {% include "navbar_proyectos.html" with proyecto=object.proyecto tus_active=True %}
{% endblock %}

{% block title %}
    Tipos de US | Eliminar: {{ tipous.nombre }}
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
    <div class="container center-block">
	    <h3>¿Desea eliminar el Tipo de user story {{ object.nombre}}?</h3>
	    <button class="btn btn-danger" type="submit">Sí, eliminar</button>
	    <a class= "btn btn-default" href="/proyecto/{{ object.proyecto_id }}/tipous/">Cancelar</a>
    </div>
</form>
{% endblock %}