<div class="modal fade" id="verTipous_{{ tipous.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div>
          <h3 class="modal-title" id="exampleModalLabel"><strong>Tipo de User Story</strong></h3>
        </div>
      </div>
      <div class="modal-body">
        <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong>Nombre:</strong> {{tipous.nombre }}</h5>
        </div>
        <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong>Descripcion:</strong> {{ tipous.descripcion}}</h5>
        </div>
        <div>
          <h5 class="modal-title" id="exampleModalLabel"><strong><br>Fases:</strong></h5>
        </div>
        <div class="pre-scrollable">
            <table class="table table-bordered">
                <thead>
                    <td> Orden </td>
                    <td> Nombre </td>
                </thead>
            {% for fase in tipous.fase_set.all %}
                <tr>
                    <td>{{ fase.orden }}</td>
                    <td>{{fase.nombre}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
