<div class="modal fade" id="agregarComentario_{{ us.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<form method="post" action="{% url "proyectos:agregar_comentario" proyecto.id us.id %}">
  {% csrf_token %}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div>
            <h3 class="modal-title" id="exampleModalLabel"><strong>Agregar comentario a {{ us.nombre }}</strong></h3>
        </div>
      </div>
      <div class="modal-body">
        <div>
          <tr>
            <th><label for="id_comentario">Ingresa tu comentario aquí:</label></th>
            <td><textarea name="comentario" rows="10" cols="40" required></textarea></td>
          </tr>
        </div>
      </div>
      <div class="modal-footer">
        <p align="left">
            <a href={% url "proyectos:userstory:detalle" proyecto.id us.id %}>
                <button type="button" class="btn btn-primary">Ver comentarios</button>
            </a>
        </p>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <input class="btn btn-primary" type="submit" value="Guardar" />
      </div>
    </div>
  </div>
</form>
</div>
