<div class="modal fade" id="editarComentario_{{ comentario.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<form method="post" action="{% url "proyectos:userstory:editar_comentario" proyecto.id comentario.us.id comentario.id %}">
  {% csrf_token %}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div>
            <h3 class="modal-title" id="exampleModalLabel"><strong>Editar comentario</strong></h3>
        </div>
      </div>
      <div class="modal-body">
        <div>
          <tr>
            <th><label for="id_comentario">Comentario:</label></th>
            <td><textarea name="comentario" rows="10" cols="40" required>{{ comentario.comentario }}</textarea></td>
          </tr>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <input class="btn btn-primary" type="submit" value="Guardar Cambios" />
      </div>
    </div>
  </div>
</form>
</div>
