<div class="modal fade" id="eliminarComentario_{{ comentario.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<form method="post" action="{% url "proyectos:userstory:eliminar_comentario" proyecto.id comentario.us.id comentario.id %}">
  {% csrf_token %}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title"><strong>Confirmación</strong></h3>
        </div>
      </div>
      <div class="modal-body">
        <tr>¿Desea borrar el comentario de {{ comentario.us.nombre }}?</tr>
        <div>
          <tr>
            <th><strong>Comentario: </strong>{{ comentario.comentario }}</th>
          </tr>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <input class="btn btn-danger" type="submit" value="Borrar" />
      </div>
    </div>
  </div>
</form>
</div>